Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: 添加水印
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Watermark/hooks/useWatermark.ts
  src/components/Watermark/index.vue
  src/components/Watermark/stories/Watermark.stories.tsx
  src/components/Watermark/types/index.ts
  tsconfig.app.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: 更改slots传值方式
  pnpm-lock.yaml
  src/components/Calendar/index.vue
  src/components/ConfigProvider/index.vue
  src/components/ConfigProvider/stories/ConfigProvider.stories.js
  src/components/ConfigProvider/stories/ConfigProvider.stories.jsx
  src/components/ConfigProvider/types/index.ts
  src/components/Icon/stories/Icon.stories.jsx
  src/components/Space/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: dragTable
  .storybook/preview.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/DragTable/contextMenu.vue
  src/components/DragTable/index.vue
  src/components/DragTable/readme.md
  src/components/DragTable/stories/Drag.stories.jsx
  src/components/Watermark/hooks/useWatermark.ts
  src/components/Watermark/hooks/useWatermark1.ts
  src/components/aother/excel.vue
  src/main.ts
  src/router/index.ts
  stylelint.config.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: other
  src/components/aother/class API封装/agentMap.js
  src/components/aother/class API封装/business.js
  src/components/aother/class API封装/classFetch.js
  src/components/aother/uploadFile-上传文件的简单封装/index.js
  src/components/aother/uploadFile-上传文件的简单封装/src/main.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: other
  src/components/aother/uploadFile-上传文件的简单封装/index.js
  src/components/aother/uploadFile-上传文件的简单封装/src/main.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: 抽离所有storie,方便接入vitepress
  .storybook/main.ts
  src/components/Calendar/stories/Calendar.stories.jsx
  src/components/IntersectObserver/stories/index.scss
  src/components/Space/stories/Space.css
  src/components/Watermark/types/index.ts
  stories/Calendar.stories.jsx
  stories/ConfigProvider.stories.jsx
  stories/CopyToClipboard.stories.jsx
  stories/DragTable.stories.jsx
  stories/Icon.stories.jsx
  stories/IntersectObserver.stories.js
  stories/Space.stories.jsx
  stories/Watermark.stories.tsx
  stories/assets/icons/check.svg
  stories/assets/styles/Space.css
  stories/wlConfigForm.stories.jsx
  stylelint.config.js
  tsconfig.app.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: 抽离所有storie,方便接入vitepress
  stories/assets/styles/IntersectObserver.scss
  stylelint.config.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: 工程化
  .husky/install.mjs
  installAll.sh
  package.json
  pnpm-lock.yaml
Due: none

feat: a
  pnpm-lock.yaml
Due: none

feat: 模块化
  pnpm-lock.yaml
Due: none

feat: 实现layout普通模式
  .stories/Calendar.stories.jsx
  .stories/ConfigProvider.stories.jsx
  .stories/CopyToClipboard.stories.jsx
  .stories/DragTable.stories.jsx
  .stories/Icon.stories.jsx
  .stories/IntersectObserver.stories.js
  .stories/Space.stories.jsx
  .stories/Watermark.stories.tsx
  .stories/assets/icons/check.svg
  .stories/assets/styles/IntersectObserver.scss
  .stories/assets/styles/Space.css
  .stories/wlConfigForm.stories.jsx
  .storybook/main.ts
  README.md
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/assets/styles/main.css
  src/layout/Index.vue
  src/main.ts
  src/router/index.ts
  stylelint.config.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: 添加vitepress
  .docs/.vitepress/config.ts
  .docs/api-examples.md
  .docs/index.md
  .docs/markdown-examples.md
  .gitignore
  package.json
  src/assets/styles/main.css
  stylelint.config.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: 修改所有项目gitignore文件
  .gitignore
  pnpm-lock.yaml
Due: none

refactor: 修改所有项目gitignore文件
  pnpm-lock.yaml
Due: none

perf: 修改依赖
  package.json
Due: none

perf: 测试发布
  .docs/.vitepress/config.ts
  .github/workflows/algolia.yml
  .github/workflows/deploy-vitepress.yml
  README.md
Due: eslint --fix, prettier --write

perf: 测试发布
  crawlerConfig.json
Due: none

perf: 测试发布
  .docs/.vitepress/config.ts
Due: eslint --fix, prettier --write

perf: 修改流水线
  .docs/.vitepress/config.ts
  .github/workflows/algolia.yml
  .github/workflows/deploy-vitepress.yml
  algolia.json
Due: eslint --fix, prettier --write

perf: 修改流水线
  .github/workflows/deploy-vitepress.yml
Due: none

perf: 修改流水线
  .docs/.vitepress/config.ts
  .github/workflows/deploy-vitepress.yml
  package.json
  src/components/wlConfigForm/components/components/wlDropdown/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

perf: 修改流水线
  package.json
Due: none

perf: 修改流水线
  .docs/.vitepress/config.ts
  .github/workflows/deploy-storybook.yml
  .storybook/main.ts
  deploy-storybook.sh
  package.json
Due: eslint --fix, prettier --write

perf: 修改流水线
  .github/workflows/deploy-storybook.yml
  deploy-storybook.sh
  package.json
Due: none

perf: 修改流水线
  .github/workflows/deploy-storybook.yml
Due: none

perf: 修改流水线
  .github/workflows/deploy-vitepress.yml
  .github/workflows/deploy.yml
Due: none

perf: 添加storybook工作流测试
  .github/workflows/deploy-storybook.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue,md}
  prettier --write: any of: *.{js,jsx,ts,tsx,vue,md}
  stylelint --fix: any of: *.{css,scss,less,vue}
