Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3622 indexDb操作类封装
  packages/components/_utils/indexdb.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 测试CICD命令
  .gitlab-ci.yml
Due: none

feat: 修改仓库地址
  docs/storybook/package.json
  docs/vitepress/contants/utils/getRepoInfo.ts
  docs/vitepress/index.md
  docs/vitepress/package.json
  package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修改仓库地址
  docs/vitepress/contants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

添加组件打包直接上传服务
  packages/components/_api/axiosApi.js
  packages/components/_api/index.ts
  packages/components/_scripts/UploadComponent.ts
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  packages/components/typings/components.d.ts
  play/render/src/utils/modules/his6.0.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: 版本更新
  packages/components/EnterNextContainer/src/index.vue
  packages/components/_scripts/buildComponent.mts
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修改插件提供方式
  packages/components/ConfigForm/index.ts
  packages/components/ConfigTable/index.ts
  packages/components/DateRangePicker/index.ts
  packages/components/DraggableTable/index.ts
  packages/components/EnterNextContainer/index.ts
  packages/components/EnterNextDragTable/index.ts
  packages/components/EnterNextTable/index.ts
  packages/components/ExportExcel/index.ts
  packages/components/ImportExcel/index.ts
  packages/components/KeepAllAlive/index.ts
  packages/components/PopoverTableSelect/index.ts
  packages/components/Select/index.ts
  packages/components/Splitter/index.ts
  packages/components/Tabs/index.ts
  packages/components/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修改插件提供方式
  packages/components/ConfigForm/index.ts
  packages/components/ConfigTable/index.ts
  packages/components/DateRangePicker/index.ts
  packages/components/DraggableTable/index.ts
  packages/components/EnterNextContainer/index.ts
  packages/components/EnterNextDragTable/index.ts
  packages/components/EnterNextTable/index.ts
  packages/components/ExportExcel/index.ts
  packages/components/ImportExcel/index.ts
  packages/components/KeepAllAlive/index.ts
  packages/components/PopoverTableSelect/index.ts
  packages/components/Select/index.ts
  packages/components/Splitter/index.ts
  packages/components/Tabs/index.ts
  packages/components/_utils/index.ts
  packages/components/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

远程加载组件方法的vue实例更换
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3636 基础编辑器组件开发
  packages/components/Editor/README.md
  packages/components/Editor/index.ts
  packages/components/Editor/src/Example.vue
  packages/components/Editor/src/index.vue
  packages/components/index.ts
  packages/components/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3636 基础编辑器组件提供多种sql，js类型支持
  packages/components/Editor/index.ts
  packages/components/Editor/src/Example.vue
  packages/components/Editor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3636 基础编辑器组件提供多种sql，js类型支持
  packages/components/Editor/src/Example.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 触发CICD
  .gitlab-ci.yml
Due: none

组件解析文件优化上传
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3636 基础编辑器组件提供多种sql，js类型支持
  packages/components/Editor/src/Example.vue
  packages/components/Editor/src/_types/index.ts
  packages/components/Editor/src/index.vue
  packages/components/ViteConfig/src/index.ts
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

加载组件解析函数优化
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化autoRoute插件
  packages/components/Editor/src/Example.vue
  packages/components/Editor/src/_types/index.ts
  packages/components/Editor/src/index.vue
  packages/components/ViteConfig/src/plugins/autoRoutes/index.ts
  packages/components/ViteConfig/src/plugins/autoRoutes/routeGenerator.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3636 基础编辑器组件开发(提供代码格式化功能)
  .gitlab-ci.yml
  packages/components/Editor/src/Example.vue
  packages/components/Editor/src/_utils/format.ts
  packages/components/Editor/src/_utils/init.ts
  packages/components/Editor/src/_utils/language.ts
  packages/components/Editor/src/_utils/workers.ts
  packages/components/Editor/src/index.vue
  packages/components/ViteConfig/src/index.ts
  packages/components/ViteConfig/src/plugins/autoRoutes/index.ts
  packages/components/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3656提供新版基础configForm
  packages/components/ConfigForm/index.ts
  packages/components/ConfigForm/src/Example.vue
  packages/components/ConfigForm/src/index.vue
  packages/components/README.md
  packages/components/ViteConfig/src/index.ts
  packages/components/_scripts/buildComponent.mts
  packages/components/index.ts
  packages/components/package.json
  packages/components/typings/auto-imports.d.ts
  packages/components/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3656提供新版基础configForm
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
Due: none

feat: 移除旧文档
  docs/_old/components/ConfigForm.md
  docs/_old/examples/ConfigForm/base/basic.vue
  docs/_old/examples/ConfigForm/base/comprehensive.vue
  docs/_old/examples/ConfigForm/components/checkboxGroup.vue
  docs/_old/examples/ConfigForm/components/datePicker.vue
  docs/_old/examples/ConfigForm/components/input.vue
  docs/_old/examples/ConfigForm/components/radioGroup.vue
  docs/_old/examples/ConfigForm/components/rate.vue
  docs/_old/examples/ConfigForm/components/select.vue
  docs/_old/examples/ConfigForm/components/slider.vue
  docs/_old/examples/ConfigForm/components/switch.vue
  docs/_old/examples/ConfigForm/events/updateRows.vue
  docs/_old/examples/ConfigForm/expose/getRef.vue
  docs/_old/examples/ConfigForm/expose/setColConfigByProp.vue
  docs/_old/examples/ConfigForm/expose/setConfigByProp.vue
  docs/_old/examples/ConfigForm/expose/validate.vue
  docs/_old/examples/ConfigForm/formOptions/disabled.vue
  docs/_old/examples/ConfigForm/formOptions/labelPosition.vue
  docs/_old/examples/ConfigForm/formOptions/labelWidth.vue
  docs/_old/examples/ConfigForm/formOptions/size.vue
  docs/_old/examples/ConfigForm/layout/colConfig.vue
  docs/_old/examples/ConfigForm/layout/gutter.vue
  docs/_old/examples/ConfigForm/rows/customRender.vue
  docs/_old/examples/ConfigForm/rows/hiddenRow.vue
  docs/_old/examples/ConfigForm/rows/multipleRows.vue
  docs/_old/examples/ConfigForm/slots/defaultSlot.vue
  docs/_old/examples/ConfigForm/slots/renderSlot.vue
  docs/_old/examples/ConfigForm/validation/customRules.vue
  docs/_old/examples/ConfigForm/validation/required.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 组件库开发调试与打包调试功能上传
  packages/components/_api/index.ts
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 重构架构，抽离公共依赖，避免反复安装
  .npmrc
  docs/storybook/package.json
  docs/vitepress/contants/index.ts
  docs/vitepress/contants/utils/getRepoInfo.ts
  docs/vitepress/package.json
  package.json
  packages/components/Editor/src/_utils/workers.ts
  packages/components/package.json
  packages/element-plus/package.json
  play/render/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 重构架构，抽离公共依赖，避免反复安装
  .gitignore
  .npmrc
  docs/storybook/package.json
  docs/vitepress/package.json
  eslint.config.js
  package.json
  packages/components/package.json
  packages/components/pnpm-lock.yaml
  packages/element-plus/package.json
  play/render/package.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 依赖拆分
  docs/storybook/stats.html
  docs/vitepress/package.json
  eslint.config.js
  packages/components/EnterNextDragTable/src/index.vue
  packages/components/index.ts
  packages/components/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Ts配置修改
  tsconfig.app.json
  tsconfig.json
Due: none

feat: CICD调试
  package.json
Due: none

feat: 打包脚本优化
  package.json
  packages/components/Editor/src/_utils/init.ts
  packages/components/Editor/src/_utils/workers.ts
  packages/components/_scripts/buildComponent.mts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

代码暂存
  packages/components/ViteConfig/src/index.ts
  packages/components/_scripts/buildComponent.mts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 打包脚本优化
  packages/components/_scripts/buildComponent.mts
Due: none

fix: 版本更新
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

代码暂存
  packages/components/AIAgent/src/components/AIAgent.vue
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 打包脚本优化
  eslint.config.ts
  package.json
  packages/components/EslintConfig/src/index.ts
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  play/render/package.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: tailwind引入优化
  docs/vitepress/.vitepress/theme/styles/custom.scss
  docs/vitepress/.vitepress/theme/styles/index.scss
  docs/vitepress/.vitepress/theme/styles/tailwind.scss
  docs/vitepress/tailwind.config.js
  packages/components/ConfigTable/src/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/_assets/styles/tailwind.scss
  packages/components/package.json
  packages/components/tailwind.config.js
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

flet：3693 AI智能体迁移组件库上传
  packages/components/AIAgent/src/components/AIAgent.vue
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

删除调试代码
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
