Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

perf: 添加storybook工作流测试
  .github/workflows/deploy-vitepress.yml
Due: none

perf: 添加storybook工作流测试
  .github/workflows/deploy-vitepress.yml
  .husky/post-push
Due: none

perf: 添加storybook工作流测试
  .husky/post-push
Due: none

perf: 添加storybook工作流测试
  .husky/post-push
  .husky/pre-push
Due: none

perf: 添加storybook工作流测试
  .husky/pre-push
Due: none

perf: 添加storybook工作流测试
  .husky/commit-msg
  .husky/pre-push
Due: none

perf: 添加storybook工作流测试
  .github/workflows/deploy-storybook.yml
  .husky/post-commit
Due: none

perf: 添加storybook工作流测试
  .docs/.vitepress/config.ts
  .husky/post-commit
Due: eslint --fix, prettier --write

perf: 添加storybook工作流测试
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitepress.yml
Due: none

perf: 添加storybook工作流测试
  .github/workflows/deploy-storybook.yml
Due: none

perf: a
  .docs/.vitepress/config.ts
  .github/workflows/deploy-vitepress.yml
  .lintstagedrc.json
  commit-msg
  package.json
Due: eslint --fix, prettier --write

perf: 添加storybook工作流测试
  .docs/.vitepress/config.ts
  .github/workflows/deploy-vitepress.yml
  .github/workflows/deploy.yml
  .gitignore
  package.json
Due: eslint --fix, prettier --write

perf: hhh
  algolia.json
Due: none

perf: 修复错误
  tsconfig.app.json
Due: none

perf: readme
  README.md
Due: eslint --fix, prettier --write

perf: readme
  .docs/.vitepress/config.ts
  .docs/.vitepress/utils/index.ts
  .docs/demos/Calendar/base.vue
  .docs/demos/ConfigForm/base.vue
  .docs/examples/Calendar.md
  .docs/examples/ConfigForm.md
  .docs/guide/index.md
  .docs/index.md
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

perf: readme
  .docs/.vitepress/theme/components/layout/components/Comments.vue
Due: eslint --fix, prettier --write, stylelint --fix

perf: readme
  .docs/.vitepress/config.ts
  .docs/navs/components.md
Due: eslint --fix, prettier --write

perf: readme
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/theme/index.ts
  .docs/.vitepress/theme/serverUtils.ts
  .docs/assets/icons/check.svg
  .docs/assets/styles/IntersectObserver.scss
  .docs/assets/styles/Space.css
  .docs/components/Calendar.md
  .docs/components/ConfigForm.md
  .docs/components/ConfigProvider.md
  .docs/components/CopyToClipboard.md
  .docs/components/DragTable.md
  .docs/components/Icon.md
  .docs/components/IntersectObserver.md
  .docs/components/Space.md
  .docs/components/Watermark.md
  package.json
  src/components/ConfigForm/components/components/wlTable/components.ts
  src/components/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

perf: 修改blog
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/index.ts
  .docs/.vitepress/utils/index.ts
  .docs/components/Calendar.md
  .docs/components/ConfigForm.md
  .docs/components/ConfigProvider.md
  .docs/components/CopyToClipboard.md
  .docs/components/DragTable.md
  .docs/components/Icon.md
  .docs/components/IntersectObserver.md
  .docs/components/Space.md
  .docs/components/Watermark.md
  .docs/navs/components.md
  .docs/posts/components.md
Due: eslint --fix, prettier --write

perf: 修改blog
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/Archives.vue
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/components/layout/components/Comments.vue
  .docs/.vitepress/theme/components/layout/components/CopyWright.vue
  .docs/.vitepress/theme/components/layout/components/HomeHero.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/FireWorksAnimation.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/ShareCard.vue
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
  .docs/.vitepress/theme/components/layout/components/Title.vue
  .docs/.vitepress/theme/components/layout/index.vue
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/theme/index.ts
  .docs/.vitepress/theme/rss.ts
  .docs/.vitepress/theme/serverUtils.ts
  .docs/.vitepress/theme/utils.ts
  .docs/.vitepress/utils/index.ts
  .docs/assets/icons/check.svg
  .docs/assets/styles/IntersectObserver.scss
  .docs/assets/styles/Space.css
  .docs/index.md
  .docs/navs/archives.md
  .docs/navs/index.md
  .docs/navs/tags.md
  .docs/posts/TypeScript学习笔记.md
  .docs/posts/前端已死.md
  .docs/posts/博客开启https.md
  .docs/posts/变量提升.md
  .docs/posts/随便说点啥.md
  .docs/public/20210413231645.png
  .docs/public/20210414120037.png
  .docs/public/20210414121015.gif
  .docs/public/20210414121928.gif
  .docs/public/WeChatd288ba57261eae3fef086b7f0abcff78.png
  .docs/public/WeChatf903a2cdf12631278f330b086b4b2fd8.png
  .docs/public/avator.png
  .docs/public/cerbot.png
  .docs/public/horse.svg
  .github/workflows/deploy.yml
Due: eslint --fix, prettier --write, stylelint --fix

perf: 修改blog
  .github/workflows/deploy.yml
Due: none

Revert "perf: 修改blog"
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/Archives.vue
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/components/layout/components/Comments.vue
  .docs/.vitepress/theme/components/layout/components/CopyWright.vue
  .docs/.vitepress/theme/components/layout/components/HomeHero.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/FireWorksAnimation.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/ShareCard.vue
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
  .docs/.vitepress/theme/components/layout/components/Title.vue
  .docs/.vitepress/theme/components/layout/index.vue
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/theme/index.ts
  .docs/.vitepress/theme/rss.ts
  .docs/.vitepress/theme/serverUtils.ts
  .docs/.vitepress/theme/utils.ts
  .docs/.vitepress/utils/index.ts
  .docs/assets/icons/check.svg
  .docs/assets/styles/IntersectObserver.scss
  .docs/assets/styles/Space.css
  .docs/index.md
  .docs/navs/archives.md
  .docs/navs/index.md
  .docs/navs/tags.md
  .docs/posts/TypeScript学习笔记.md
  .docs/posts/前端已死.md
  .docs/posts/博客开启https.md
  .docs/posts/变量提升.md
  .docs/posts/随便说点啥.md
  .docs/public/20210413231645.png
  .docs/public/20210414120037.png
  .docs/public/20210414121015.gif
  .docs/public/20210414121928.gif
  .docs/public/WeChatd288ba57261eae3fef086b7f0abcff78.png
  .docs/public/WeChatf903a2cdf12631278f330b086b4b2fd8.png
  .docs/public/avator.png
  .docs/public/cerbot.png
  .docs/public/horse.svg
  .github/workflows/deploy.yml
Due: eslint --fix, prettier --write, stylelint --fix

perf: 修改blog
  package.json
Due: none

perf: 修改blog
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/Archives.vue
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/serverUtils.ts
  .docs/.vitepress/utils/index.ts
  .docs/.vitepress/utils/serverUtils.ts
  .docs/.vitepress/utils/utils.ts
Due: eslint --fix, prettier --write, stylelint --fix

perf: 修改blog
  .docs/components/前端已死.md
  .docs/posts/TypeScript学习笔记.md
  .docs/posts/博客开启https.md
  .docs/posts/变量提升.md
  .docs/posts/随便说点啥.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue,md}
  prettier --write: any of: *.{js,jsx,ts,tsx,vue,md}
  stylelint --fix: any of: *.{css,scss,less,vue}
