Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

feat: popoverTableSelect优化升级
  packages/components/PopoverTableSelect/src/Example.vue
  packages/components/PopoverTableSelect/src/base/index.vue
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: popoverTableSelect优化升级
  packages/components/PopoverTableSelect/src/Example.vue
  packages/components/PopoverTableSelect/src/_types/props.ts
  packages/components/PopoverTableSelect/src/base/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: popoverTableSelect优化升级
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/edit/EditRenderer.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: indexDb优化
  packages/utils/_utils/_types/indexdb.ts
  packages/utils/_utils/index.ts
  packages/utils/_utils/indexdb.ts
  packages/utils/_utils/indexdb/IndexDBManager.ts
  packages/utils/_utils/indexdb/index.ts
  packages/utils/_utils/indexdb/indexdb-worker.ts
  packages/utils/_utils/indexdb/indexdb.ts
  packages/utils/_utils/loadComponent/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 动态栅格
  packages/components/ReForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化注释
  packages/components/ReForm/src/_utils/useGridCols.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化注释
  packages/components/ReForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化注释
  packages/components/ReForm/src/_utils/index.ts
  packages/components/ReForm/src/_utils/useForm.ts
  packages/components/ReForm/src/_utils/useGridResponsive/constants.ts
  packages/components/ReForm/src/_utils/useGridResponsive/index.ts
  packages/components/ReForm/src/_utils/useGridResponsive/types.ts
  packages/components/ReForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 移除旧无用函数
  packages/components/DraggableTable/src/_types/emit.ts
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化设计器
  packages/components/DesignForm/src/components/DesignFormRules.vue
  packages/components/DesignForm/src/datas/formData.ts
  packages/components/DesignForm/src/index.vue
  packages/components/KeepAllAlive/src/index.vue
  packages/components/ReForm/src/_types/index.ts
  packages/components/ReForm/src/components/renderItem.vue
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/ReForm/src/index.vue
  packages/components/TsFooter/src/index.vue
  packages/components/TsRadio/src/index.vue
  packages/components/_hooks/useOptions.ts
  packages/utils/_utils/loadComponent/esmodule.ts
  packages/utils/_utils/loadComponent/index.ts
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
  play/render/src/views/demo3/data.ts
  play/render/src/views/demo3/data/componentData/DesignForm.tsx
  play/render/src/views/demo3/data/componentData/DraggableTable.tsx
  play/render/src/views/demo3/data/componentData/HisFooter.tsx
  play/render/src/views/demo3/data/componentData/ReForm.tsx
  play/render/src/views/demo3/data/componentData/TsButton.tsx
  play/render/src/views/demo3/data/componentData/TsFooter.tsx
  play/render/src/views/demo3/data/index.ts
  play/render/src/views/demo3/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化设计器
  play/render/src/views/demo2/aaa/components/pages/index.vue
  play/render/src/views/demo2/aaa/index.vue
  play/render/src/views/demo2/index.vue
  play/render/src/views/demo4/index.vue
  play/render/src/views/demoApi/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化设计器
  packages/components/DesignForm/src/Example.vue
  packages/components/DesignForm/src/components/DesignFormRules.vue
  packages/components/DesignForm/src/datas/index.ts
  packages/components/DesignForm/src/index.vue
  packages/components/ReForm/src/Example.vue
  packages/components/ReForm/src/index.vue
  packages/components/TsCheckbox/src/index.vue
  packages/components/TsSelect/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 同步代码
  packages/utils/_utils/_types/indexdb.ts
  packages/utils/_utils/index.ts
  packages/utils/_utils/indexdb.ts
  packages/utils/_utils/indexdb/IndexDBManager.ts
  packages/utils/_utils/indexdb/index.ts
  packages/utils/_utils/indexdb/indexdb-worker.ts
  packages/utils/_utils/indexdb/indexdb.ts
  packages/utils/_utils/loadComponent/index.ts
  play/render/src/main.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: indexDB优化
  packages/utils/_utils/_types/indexdb.ts
  packages/utils/_utils/indexdb/IndexDBManager.ts
  packages/utils/_utils/indexdb/indexdb-worker.ts
  packages/utils/_utils/indexdb/indexdb.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: indexDB优化
  packages/utils/_utils/indexdb/IndexDBManager.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: indexDB优化
  packages/components/DraggableTable/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
  packages/utils/_utils/index.ts
  packages/utils/_utils/indexdb/index.ts
  packages/utils/_utils/indexdb/indexdb.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable性能优化
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_types/props.ts
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable性能优化,indexDB优化
  packages/components/DraggableTable/src/index.vue
  packages/utils/_utils/indexdb/indexdb.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable性能优化
  docs/vitepress/components/table/DraggableTable.md
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable性能优化
  docs/vitepress/components/table/DraggableTable.md
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/utils/_utils/indexdb/indexdb.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable性能优化
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable性能优化
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable性能优化
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_types/props.ts
  packages/components/DraggableTable/src/index.vue
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable性能优化
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: indexDb优化
  packages/utils/_utils/_types/indexdb.ts
  packages/utils/_utils/indexdb/IndexDBManager.ts
  packages/utils/_utils/indexdb/index.ts
  packages/utils/_utils/indexdb/indexdb-worker.ts
  packages/utils/_utils/indexdb/indexdb.ts
  packages/utils/_utils/loadComponent/index.ts
  packages/utils/tsconfig.build.json
  packages/utils/tsconfig.json
  play/render/src/main.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: indexDb优化
  packages/utils/_utils/indexdb/IndexDBManager.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: demo优化，使它支持响应式
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/index.vue
  packages/utils/_utils/build/index.mts
  play/render/src/main.ts
  play/render/src/views/demo3/data/componentData/DraggableTable.tsx
  play/render/src/views/demo3/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复表单设计器组件类型选择失败bug
  packages/components/DesignForm/src/components/DesignFormRules.vue
  packages/components/DesignForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: QRCode组件
  docs/vitepress/.vitepress/config/vite/plugins/markdown-transform.ts
  docs/vitepress/.vitepress/theme/index.ts
  packages/components/QrCode/README.md
  packages/components/QrCode/index.ts
  packages/components/QrCode/src/Example.vue
  packages/components/QrCode/src/_types/emits.ts
  packages/components/QrCode/src/_types/index.ts
  packages/components/QrCode/src/_types/props.ts
  packages/components/QrCode/src/_types/slots.ts
  packages/components/QrCode/src/index.vue
  packages/components/index.ts
  packages/components/package.json
  packages/utils/_api/components.ts
  packages/utils/_utils/down.ts
  packages/utils/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable兼容处理
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_types/emit.ts
  packages/components/DraggableTable/src/_types/props.ts
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化DraggableTable配置
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化QRCode的border显示
  packages/components/DragModalDialog/src/Example.vue
  packages/components/EnterNextContainer/src/Example.vue
  packages/components/QrCode/src/Example.vue
  packages/components/QrCode/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化QRCode的border显示
  packages/components/QrCode/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化QRCode的logo图片
  docs/vitepress/examples/QrCode/logo/logoBackgroundColor.vue
  docs/vitepress/examples/QrCode/logo/logoMargin.vue
  docs/vitepress/examples/QrCode/logo/logoSize.vue
  docs/vitepress/examples/QrCode/logo/showLogo.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化axios
  packages/utils/AjaxPackage/axios.js
  packages/utils/AjaxPackage/class.ts
  packages/utils/AjaxPackage/netseriver.js
  packages/utils/_api/hisComponents.ts
  packages/utils/_utils/build/index.mts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: HISFooter改造，采用业务服务
  packages/components/HisFooter/src/_types/props.ts
  packages/components/HisFooter/src/index.vue
  packages/utils/_api/hisComponents.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 合并dev分支
  packages/components/AIAgent/src/components/api/api.js
  packages/components/AIAgent/src/components/business/ChatAgent.vue
  packages/components/AIAgent/src/components/emrAgent/components/PatientCard.vue
  packages/components/AIAgent/src/components/emrAgent/components/TrasenEditor.vue
  packages/components/AIAgent/src/components/emrAgent/js/editorConfig/contextMenu.js
  packages/components/AIAgent/src/components/shepherd/ShepherdGuide.js
  packages/components/AIAgent/src/components/shepherd/index.scss
  packages/components/AIAgent/src/components/ui/Bubble.vue
  packages/components/AIAgent/src/components/ui/BubbleAction.vue
  packages/components/AIAgent/src/components/ui/ChatInput.vue
  packages/components/AIAgent/src/components/ui/Conversations.vue
  packages/components/AIAgent/src/components/ui/FloatingButton.vue
  packages/components/AIAgent/src/components/ui/FloatingPanel.vue
  packages/components/AIAgent/src/components/ui/Loading.vue
  packages/components/AIAgent/src/components/ui/Select.vue
  packages/components/AIAgent/src/components/ui/TipsPopover.vue
  packages/components/AIAgent/src/components/ui/UserNotice.vue
  packages/components/AIAgent/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: classApi文档补充
  docs/vitepress/components/utils/classApi.md
Due: none
