Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

no message
  packages/components/_hooks/useOptions.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

no message
  packages/components/_hooks/useOptions.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: BUG修复
  packages/components/_hooks/useOptions.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat:4298表单项配置开发(初版上传）
  docs/vitepress/components/base/DesignForm.md
  docs/vitepress/examples/DesignForm/basic/index.vue
  docs/vitepress/examples/DesignForm/loadConfig/index.vue
  docs/vitepress/examples/DesignForm/saveConfig/index.vue
  packages/components/DesignForm/src/components/DesignFormRules.vue
  packages/components/DesignForm/src/index.vue
  packages/components/index.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: BUG修复
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/_hooks/useOptions.ts
  packages/components/_scripts/addUuidToTemplate/index.mts
  packages/components/_scripts/buildComponent.mts
  packages/utils/_utils/build/index.mts
  play/render/src/main.ts
  play/render/src/views/demo3/data.ts
  play/render/src/views/demo3/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: BUG修复
  packages/components/PopoverTableSelect/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 添加scopedStyle添加可能
  packages/components/_scripts/buildComponent.mts
  packages/utils/_utils/build/index.mts
  packages/utils/_utils/build/plugins/addUuidToTemplate/index.mts
Due: none

feat: 删除无用组件
  packages/components/ConfigFrom/README.md
  packages/components/ConfigFrom/index.ts
  packages/components/ConfigFrom/src/Example.vue
  packages/components/ConfigFrom/src/index.vue
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm-formily/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm-formily/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm-formily/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/README.md
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/index.ts
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 删除无用组件
  packages/components/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 添加相同不请求逻辑
  packages/components/_hooks/useOptions.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 添加相同不请求逻辑
  .cursorrules
Due: none

fix: 修复组件缓存问题
  packages/constant/common.ts
  packages/utils/_utils/loadComponent/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: Tree优化，采用更好的响应式更新
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/_types/props.ts
  packages/components/Tree/src/index.vue
  packages/utils/_utils/loadComponent/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Tree优化，采用更好的响应式更新
  packages/utils/_utils/loadComponent/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: mdEditor优化，提供保存，加载功能
  .cursorrules
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/README.md
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/api.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/common.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/emits.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/slots.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
  packages/utils/_utils/loadComponent/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: mdEditor优化，提供保存，加载功能
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/README.md
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 处理合并错误
  packages/constant/common.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修复Draggable极端情况下内存溢出问题
  packages/components/DraggableTable/src/index.vue
  packages/components/_scripts/buildComponent.mts
  packages/utils/_utils/build/index.mts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Md编辑器优化
  .cursorrules
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/README.md
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/emits.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Md编辑器优化，添加图片上传功能
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/README.md
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/api.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Md编辑器优化，添加图片上传功能
  .cursorrules
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/common.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/emits.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Md编辑器优化，类型定义修复
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/emits.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Md编辑器优化，类型定义修复
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/README.md
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Md编辑器优化，类型定义修复
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/Example.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复导入错误
  packages/components/_AllTestOrNoPublishComponents/Editor/src/Example.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 添加批量组件调试
  packages/components/Tabs/README.md
  packages/components/Tabs/src/Example.vue
  packages/components/Tabs/src/_types/props.ts
  packages/components/Tabs/src/index.vue
  play/render/src/views/demo3/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 添加批量组件调试
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化popoverTableSelect,使它支持防抖，优化DraggableTable
  packages/components/DraggableTable/src/index.vue
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/Tabs/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/README.md
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
  packages/components/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化md编辑器
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化md编辑器
  .github/workflows/deploy.yml
Due: none

feat: 补充表单编辑器的注释
  packages/components/ReForm/index.ts
  packages/components/ReForm/src/_types/index.ts
  packages/components/ReForm/src/_utils/constants.ts
  packages/components/ReForm/src/_utils/index.ts
  packages/components/ReForm/src/_utils/useForm.ts
  packages/components/ReForm/src/_utils/useGridCols.ts
  packages/components/ReForm/src/_utils/useGridResponsive/constants.ts
  packages/components/ReForm/src/_utils/useGridResponsive/index.ts
  packages/components/ReForm/src/_utils/useGridResponsive/types.ts
  packages/components/ReForm/src/components/ReCollapsedBtn.vue
  packages/components/ReForm/src/components/renderItem.vue
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/ReForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复popoverTableSelect
  packages/components/PopoverTableSelect/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复摇树优化
  packages/components/AIAgent/index.ts
  packages/components/DateRangePicker/index.ts
  packages/components/DateRangePicker/src/index.vue
  packages/components/DesignForm/index.ts
  packages/components/DragModalDialog/index.ts
  packages/components/DraggableTable/index.ts
  packages/components/EnterNextContainer/index.ts
  packages/components/ExportExcel/index.ts
  packages/components/ExportExcel/src/index.vue
  packages/components/G2/index.ts
  packages/components/HisFooter/index.ts
  packages/components/ImportExcel/index.ts
  packages/components/KeepAllAlive/index.ts
  packages/components/PopoverTableSelect/index.ts
  packages/components/ReForm/index.ts
  packages/components/Splitter/index.ts
  packages/components/Tabs/index.ts
  packages/components/Title/index.ts
  packages/components/Tree/index.ts
  packages/components/TsButton/index.ts
  packages/components/TsFooter/index.ts
  packages/components/TsSelect/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigFromPlayground/index.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/index.ts
  packages/components/_old/ConfigTable/index.ts
  packages/utils/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复多个组件bug
  packages/components/DateRangePicker/src/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/cell/CellRenderer.vue
  packages/components/DraggableTable/src/renderers/edit/EditRenderer.vue
  packages/components/PopoverTableSelect/src/Example.vue
  packages/components/PopoverTableSelect/src/_types/emits.ts
  packages/components/PopoverTableSelect/src/_types/props.ts
  packages/components/PopoverTableSelect/src/base/index.vue
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/TsButton/src/index.vue
  packages/components/_scripts/buildComponent.mts
  packages/utils/_utils/build/index.mts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: indexDb改造
  packages/components/PopoverTableSelect/src/index.vue
  packages/utils/_utils/indexdb.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: indexDb改造
  packages/utils/_utils/indexdb.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: element升级
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix
