Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 修复bug
  .env
  .env.development
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化draggableTable，提供右键列配置
  src/components/DraggableTable/Example.vue
  src/components/DraggableTable/_types/index.ts
  src/components/DraggableTable/_utils/index.ts
  src/components/DraggableTable/components/ContextMenu/index.vue
  src/components/DraggableTable/index.vue
  src/components/DraggableTable/renderers/edit/EditRenderer.tsx
  src/components/PopoverTableSelect/index.vue
  src/components/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化style
  src/assets/styles/base.css
  src/assets/styles/element/custom.scss
  src/assets/styles/element/index.scss
  src/assets/styles/main.css
  src/assets/styles/tailwind.scss
  stylelint.config.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 同步组件
  src/components/DateRangePicker/index.vue
  src/components/DraggableTable/Example.vue
  src/components/DraggableTable/_types/index.ts
  src/components/DraggableTable/_utils/index.ts
  src/components/DraggableTable/index.vue
  src/components/DraggableTable/renderers/cell/CellRenderer.tsx
  src/components/DraggableTable/renderers/cell/index.tsx
  src/components/DraggableTable/renderers/filter/FilterRenderer.tsx
  src/components/DraggableTable/renderers/index.ts
  src/components/_types/index.ts
  src/components/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 删除低劣组件
  .storybook/.stories/CopyToClipboard.stories.tsx
  .storybook/.stories/Space.stories.tsx
  .storybook/.stories/excelTotal.stories.tsx
  src/components/CopyToClipboard/index.vue
  src/components/CopyToClipboard/types/index.ts
  src/components/Space/index.vue
  src/components/Space/types/index.ts
  src/components/excelTotal/3月，4月车辆数据统计周表.xlsx
  src/components/excelTotal/ConfigTable.vue
  src/components/excelTotal/index.vue
  src/components/excelTotal/types.ts
  src/components/excelTotal/utils.ts
  src/components/excelTotal/岳麓区收费明细《总表》.xlsx
  src/components/excelTotal/岳麓进车情况.xlsx《总表》.xlsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 删除低劣组件
  .storybook/.stories/ConfigProvider.stories.tsx
  .storybook/.stories/assets/styles/Space.css
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件
  src/components/DraggableTable/renderers/cell/CellRenderer.tsx
  src/components/DraggableTable/renderers/edit/EditRenderer.tsx
  src/components/PopoverTableSelect/README.md
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化DraggableTable
  .storiebook/.stories/DraggableTable.stories.tsx
  src/components/DraggableTable/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化DraggableTable
  src/components/DraggableTable/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化popselect
  src/components/DraggableTable/_types/index.ts
  src/components/PopoverTableSelect/Example.vue
  src/components/PopoverTableSelect/base/index.vue
  src/components/PopoverTableSelect/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 修复插件bug
  plugins/addScopedAndReplacePrefix.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 提供新组件
  src/components/DraggableTable/renderers/cell/CellRenderer.tsx
  src/components/DraggableTable/renderers/edit/EditRenderer.tsx
  src/components/EnterNextContainer/Example.vue
  src/components/EnterNextContainer/README.md
  src/components/EnterNextContainer/index.vue
  src/components/EnterNextDragTable/Example.vue
  src/components/EnterNextDragTable/README.md
  src/components/EnterNextDragTable/_types/index.ts
  src/components/EnterNextDragTable/index.vue
  src/components/EnterNextTable/Example.vue
  src/components/EnterNextTable/README.md
  src/components/EnterNextTable/_types/index.ts
  src/components/EnterNextTable/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 将自动路由相关所有代码全部挪入插件中
  env.d.ts
  plugins/autoRoutes/README.md
  plugins/autoRoutes/index.ts
  plugins/autoRoutes/routeGenerator.ts
  src/components/index.ts
  src/examples/index.ts
  src/router/index.ts
  src/utils/index.ts
  src/utils/modules/route.ts
  src/views/index.ts
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 新增 Calendar 组件并支持中英文切换
  eslint.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

ci: 更新 GitHub Actions 工作流配置
  .github/workflows/deploy.yml
Due: none

build: 添加 md-editor-v3 依赖包
  package.json
Due: none

build: 更新项目依赖并移除不必要的插件
  .storybook/main.ts
  package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

build: 修改上传打包文件路径- 将上传打包文件路径从 vueComponent 修改为 docs -确保正确的文件夹被上传到 GitHub Pages
  .github/workflows/deploy.yml
Due: none

docs: 更新文档网站基础配置和评论系统参数
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/layout/components/Comments.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor: 调整 tsconfig.node.json 配置
  .docs/.vitepress/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

docs: 更新 GitHub 评论配置
  .docs/.vitepress/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

refactor: 重构故事文件并添加新功能
  .storybook/.stories/Calendar.stories.tsx
  .storybook/.stories/ConfigForm.stories.tsx
  .storybook/.stories/ConfigProvider.stories.tsx
  .storybook/.stories/ExportExcel.stories.tsx
  .storybook/.stories/Icon.stories.tsx
  .storybook/.stories/IntersectObserver.stories.ts
  .storybook/.stories/MarkdownEditor.stories.ts
  .storybook/.stories/Watermark.stories.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

test: 测试
  src/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

refactor: 优化文档样式和布局
  .github/workflows/deploy.yml
  .storybook/.stories/ConfigForm.stories.tsx
  .storybook/.stories/ConfigProvider.stories.tsx
  .storybook/.stories/ExportExcel.stories.tsx
  .storybook/.stories/Icon.stories.tsx
  .storybook/.stories/IntersectObserver.stories.ts
  .storybook/.stories/Watermark.stories.tsx
  src/components/Calendar/components/CalendarHeader.vue
  src/components/Calendar/components/CalendarMonth.vue
  src/components/Calendar/index.vue
  src/components/Calendar/types/index.ts
  src/components/ConfigProvider/index.vue
  src/components/ExportExcel/Example.vue
  src/components/ExportExcel/index.js
  src/components/ExportExcel/index.vue
  src/components/Icon/index.vue
  src/components/IntersectObserver/index.vue
  src/components/KeepAllAlive/index.vue
  src/components/MarkdownEditor/index.vue
  src/components/MarkdownEditor/types/index.ts
  src/components/Watermark/hooks/useWatermark.ts
  src/components/Watermark/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor: 优化文档样式和布局
  src/components/ExportExcel/Example.vue
  src/components/ExportExcel/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

build: test
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

test: aaa
  package.json
  src/components/README.md
  src/components/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 成功打包
  .gitignore
  package.json
  src/components/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  package.component.json
  package.json
  package.readme.md
  scripts/buildComponent.mjs
Due: none

feat: 优化组件库构建和发布流程
  package.component.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  src/components/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  package.component.json
  src/components/index.ts
  src/utils/index.ts
  src/utils/modules/discoverComponents.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  package.component.json
  src/utils/index.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  package.component.json
  package.json
  src/utils/modules/discoverComponents.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
