Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  play/formilyPlayground/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3834 bug修复与代码优化
  packages/utils/_utils/build.mts
Due: none

feat: 3830 表头配置上传
  packages/components/DraggableTable/src/components/CustomConfig/CustomConfigFooter.vue
  packages/components/DraggableTable/src/components/CustomConfig/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/Editor/src/_utils/editor/index.ts
  packages/components/MarkdownEditor/index.ts
  packages/utils/_api/index.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3830 使用文档上传
  docs/vitepress/components/table/DraggableTable.md
  docs/vitepress/examples/DraggableTable/edit/editable.vue
  docs/vitepress/examples/DraggableTable/events/customConfig.vue
  packages/components/DraggableTable/src/components/CustomConfig/CustomConfigFooter.vue
  packages/components/DraggableTable/src/index.vue
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修改生成病历接口解析规则，修改引入名
  packages/components/AIAgent/src/components/api/api.js
  packages/components/AIAgent/src/components/business/ChatAgent.vue
  packages/components/AIAgent/src/components/emrAgent/EmrManager.js
  packages/components/AIAgent/src/components/emrAgent/components/TrasenEditor.vue
  packages/components/AIAgent/src/components/ui/FloatingPanel.vue
  packages/components/AIAgent/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 更新AI助手1.6.7
  packages/components/AIAgent/src/components/business/ChatAgent.vue
  packages/components/AIAgent/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  docs/vitepress/components/base/Button.md
  docs/vitepress/components/base/PopoverTableSelect.md
  docs/vitepress/components/base/Select.md
  docs/vitepress/examples/Button/popoverProps/placement.vue
  docs/vitepress/examples/TsButton/content/basic.vue
  docs/vitepress/examples/TsButton/events/click.vue
  docs/vitepress/examples/TsButton/interaction/debounce.vue
  docs/vitepress/examples/TsButton/interaction/promise.vue
  docs/vitepress/examples/TsButton/interaction/throttle.vue
  docs/vitepress/examples/TsButton/popoverProps/placement.vue
  docs/vitepress/examples/TsButton/showType/content.vue
  docs/vitepress/examples/TsButton/showType/disabled.vue
  packages/components/ConfigFrom/src/Example.vue
  packages/components/ConfigFrom/src/index.vue
  packages/components/TsButton/README.md
  packages/components/TsButton/index.ts
  packages/components/TsButton/src/Example.vue
  packages/components/TsButton/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/DraggableTable/src/index.vue
  packages/components/version.json
  packages/utils/ClassNames/README.md
  packages/utils/ClassNames/index.ts
  packages/utils/version.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3830 table组件封装（表头配置）
  packages/components/DraggableTable/src/components/CustomConfig/CustomConfigFooter.vue
  packages/components/DraggableTable/src/components/CustomConfig/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/version.json
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

Revert "feat: 3830 表头配置上传"
  dist.zip
  packages/components/DraggableTable/src/components/CustomConfig/CustomConfigFooter.vue
  packages/components/DraggableTable/src/components/CustomConfig/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/Editor/src/_utils/editor/index.ts
  packages/components/MarkdownEditor/index.ts
  packages/utils/_api/index.ts
  play/render/src/views/demo/index.vue
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

Revert "feat: 3830 表头配置上传"
  packages/components/DraggableTable/src/index.vue
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

Revert "feat: 3830 表头配置上传"
  packages/components/version.json
  packages/utils/_utils/build.mts
Due: none

feat: 3834 暂存
  packages/components/DraggableTable/src/components/ContextMenu/index.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/cell/CellRenderer.tsx
  packages/components/DraggableTable/src/renderers/edit/EditRenderer.tsx
  packages/components/PopoverTableSelect/src/base/index.vue
  packages/utils/_api/index.ts
  packages/utils/_utils/build.mts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_types/index.ts
  packages/components/DraggableTable/src/_utils/index.ts
  packages/components/DraggableTable/src/components/ContextMenu/index.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/edit/EditRenderer.tsx
  packages/utils/_utils/event.ts
  packages/utils/_utils/indexdb.ts
  scripts/normalizeSingleLineComments.mts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3948 组件库功能优化
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  docs/vitepress/.vitepress/config/vite/index.ts
  docs/vitepress/components/table/DraggableTable.md
  docs/vitepress/examples/DragModalDialog/slots/header-slots.vue
  docs/vitepress/examples/DraggableTable/base/index.vue
  docs/vitepress/examples/DraggableTable/drag/columnDragDisabledMethod.vue
  docs/vitepress/examples/DraggableTable/drag/dragType-draggable.vue
  docs/vitepress/examples/DraggableTable/drag/dragType-vxe.vue
  docs/vitepress/examples/DraggableTable/drag/rowDisabledClass.vue
  docs/vitepress/examples/DraggableTable/drag/rowDragDisabledMethod.vue
  docs/vitepress/examples/DraggableTable/edit/editable.vue
  docs/vitepress/examples/DraggableTable/events/checkbox.vue
  docs/vitepress/examples/DraggableTable/events/columnDragend.vue
  docs/vitepress/examples/DraggableTable/events/customConfig.vue
  docs/vitepress/examples/DraggableTable/events/noNextInput.vue
  docs/vitepress/examples/DraggableTable/events/resizableChange.vue
  docs/vitepress/examples/DraggableTable/events/rowDragend.vue
  docs/vitepress/examples/DraggableTable/expose/getTable.vue
  docs/vitepress/examples/DraggableTable/filter/filterLayout.vue
  docs/vitepress/examples/DraggableTable/filter/filterType.vue
  docs/vitepress/examples/DraggableTable/filter/filterable.vue
  docs/vitepress/examples/DraggableTable/props/containerType-row.vue
  docs/vitepress/examples/DraggableTable/props/containerType-table.vue
  docs/vitepress/examples/DraggableTable/slots/defaultSlot.vue
  docs/vitepress/examples/DraggableTable/slots/editSlot.vue
  docs/vitepress/examples/DraggableTable/slots/filterSlot.vue
  docs/vitepress/examples/DraggableTable/slots/headerSlot.vue
  docs/vitepress/examples/DraggableTable/sort/sortable.vue
  docs/vitepress/examples/DraggableTable/storage/customColumns.vue
  docs/vitepress/examples/DraggableTable/storage/identity.vue
  docs/vitepress/examples/DraggableTable/storage/saveHotKeys-custom.vue
  docs/vitepress/examples/DraggableTable/storage/saveHotKeys.vue
  docs/vitepress/examples/DraggableTable/storage/saveType-local.vue
  docs/vitepress/examples/DraggableTable/storage/saveType-server.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/index.ts
  packages/utils/_api/index.ts
  packages/utils/_utils/build.mts
  packages/utils/_utils/event.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/utils/_utils/build.mts
Due: none

feat: 3834 DraggableTable持久化存储
  packages/utils/_api/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_utils/index.ts
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/cell/index.tsx
  packages/components/DraggableTable/src/renderers/edit/index.tsx
  packages/components/DraggableTable/src/renderers/filter/index.tsx
  packages/components/DraggableTable/src/renderers/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_types/index.ts
  packages/components/DraggableTable/src/_utils/index.ts
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/utils/_utils/base.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/utils/AjaxPackage/class.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/veo3Request/_types/image4o.ts
  packages/utils/veo3Request/_types/index.ts
  packages/utils/veo3Request/_types/suno.ts
  packages/utils/veo3Request/_types/veo3.ts
  packages/utils/veo3Request/index.ts
  packages/utils/version.json
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/utils/veo3Request/_types/suno.ts
  packages/utils/veo3Request/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3834 DraggableTable持久化存储
  packages/utils/veo3Request/_types/image4o.ts
  packages/utils/veo3Request/_types/index.ts
  packages/utils/veo3Request/_types/suno.ts
  packages/utils/veo3Request/_types/veo3.ts
  packages/utils/veo3Request/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3834 DraggableTable持久化存储
  packages/utils/veo3Request/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修改病历模板解析规则
  packages/components/AIAgent/src/components/emrAgent/js/editorConfig/formatTemplate.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: 修改病历生成判断逻辑
  packages/components/AIAgent/src/components/business/ChatAgent.vue
  packages/components/AIAgent/src/components/emrAgent/EmrManager.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: AI助手版本号更新
  packages/components/version.json
Due: none

feat: 3948 组件库功能优化及bug修改 修复树形组件没有数据提示问题
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/Tree/src/index.vue
  packages/components/Tree/src/types/index.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/utils/veo3Request/index.ts
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 组件库功能优化及bug修改(DraggableTable组件过滤器添加filterFormat、ui优化
  packages/components/DraggableTable/src/_types/index.ts
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/filter/FilterRenderer.tsx
  packages/components/version.json
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  .gitlab-ci.yml
Due: none

feat: 3948 组件库功能优化及bug修改
  packages/components/version.json
  packages/utils/_utils/build.mts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/utils/GoogleModel/_types/image4o.ts
  packages/utils/GoogleModel/_types/index.ts
  packages/utils/GoogleModel/_types/suno.ts
  packages/utils/GoogleModel/_types/veo3.ts
  packages/utils/GoogleModel/index.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
