Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

perf: 修改
  src/components/ConfigForm/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改
  eslint.config.js
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

perf: 修改
  src/components/ConfigForm/components/components/wlUpload/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改
  src/components/ConfigForm/components/components/wlTransfer/index.vue
  src/components/ConfigForm/components/components/wlTree/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改
  src/components/ConfigForm/components/components/wlSwitch/index.vue
  src/components/ConfigForm/components/components/wlTable/index.vue
  src/components/ConfigForm/components/components/wlTimeline/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改
  src/components/ConfigForm/components/components/rarelyComponents/wlRate/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlTag/index.vue
  src/components/ConfigForm/components/components/wlButton/index.vue
  src/components/ConfigForm/components/components/wlCarousel/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改
  src/components/ConfigForm/components/components/rarelyComponents/wlAvatar/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlBacktop/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlBadge/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlBreadcrumb/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlCard/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改
  src/components/ConfigForm/components/components/wlCollapse/index.vue
  src/components/ConfigForm/components/components/wlDivider/index.vue
  src/components/ConfigForm/components/components/wlDropdown/index.vue
  src/components/ConfigForm/components/components/wlProgress/index.vue
  src/components/ConfigForm/components/components/wlSelect/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改
  src/assets/styles/tailwind.scss
  src/components/ConfigForm/components/utils/index.ts
  tailwind.config.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改
  .lintstagedrc.json
Due: none

perf: 修改
  eslint.config.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

perf: 修改commitlint
  commitlint.config.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

perf: 修改configForm
  src/components/ConfigForm/components/components/rarelyComponents/wlTable/compoents/wlTableColumn/index.vue
  src/components/ConfigForm/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改autoImport
  src/typings/auto-imports.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

perf: 修改autoImport
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

perf: 修改autoImport
  src/components/ConfigForm/components/components/popComponents/wlPopover/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

perf: 修改something
  package.json
Due: none

perf: 修改lint
  .eslintignore
  eslint.config.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: type bug
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: type bug
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: type bug
  cypress.config.ts
  cypress/e2e/example.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  eslint.config.ts
  tsconfig.vitest.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 一群的导出工作
  src/components/excelTotal/3月，4月车辆数据统计周表.xlsx
  src/components/excelTotal/ExcelTotal.vue
  src/components/excelTotal/index.ts
  src/components/excelTotal/types.ts
  src/components/excelTotal/utils.ts
  src/components/excelTotal/岳麓区收费明细《总表》.xlsx
  src/components/excelTotal/岳麓进车情况.xlsx《总表》.xlsx
  src/typings/auto-imports.d.ts
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  src/components/excelTotal/index.vue
  src/components/excelTotal/utils.ts
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  src/components/excelTotal/index.vue
  src/components/excelTotal/types.ts
  src/components/excelTotal/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  src/components/excelTotal/ConfigTable.vue
  src/components/excelTotal/index.vue
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作之配置表放在弹窗外
  src/components/excelTotal/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作之配置表放在弹窗外
  src/components/excelTotal/index.vue
  src/components/excelTotal/types.ts
  src/components/excelTotal/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  src/components/excelTotal/types.ts
  src/components/excelTotal/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 一群的导出工作
  src/components/excelTotal/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 一群的导出工作
  src/components/excelTotal/ConfigTable.vue
  src/components/excelTotal/index.vue
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  src/components/excelTotal/index.vue
  src/components/excelTotal/types.ts
  src/components/excelTotal/utils.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  src/components/excelTotal/index.vue
  src/components/excelTotal/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  src/components/excelTotal/ConfigTable.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  src/components/excelTotal/ExcelTotal.vue
  src/components/excelTotal/index.ts
  src/components/excelTotal/index.vue
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  .storybook/.stories/excelTotal.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}
