Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 一群的导出工作
  .storybook/.stories/excelTotal.stories.tsx
  package.json
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 腾讯云部署
  cloudbaserc.json
  cloudfunctions/vue-echo/index.js
  cloudfunctions/vue-echo/package.json
  package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 布局
  .env
  eslint.config.ts
  package.json
  plugins/addScopedAndReplacePrefix.ts
  src/assets/styles/base.css
  src/assets/styles/element/custom.scss
  src/assets/styles/element/fixQiankun.scss
  src/assets/styles/element/index.scss
  src/assets/styles/main.css
  src/assets/styles/tailwind.scss
  src/components/index.ts
  src/layout/Index.vue
  src/layout/element.vue
  src/layout/index.ts
  src/router/index.ts
  src/router/index.vue
  src/stores/system.ts
  src/typings/auto-imports.d.ts
  src/typings/components.d.ts
  src/utils/index.ts
  src/views/demo/index.vue
  src/views/index.ts
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 布局
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: 添加cursor规则
  .cursorrules
  .storybook/lowCodeEditor.md
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 第一版低代码编辑器
  .storybook/main.ts
  src/components/lowCodeEditor/LowCodeEditor.vue
  src/components/lowCodeEditor/README.md
  src/components/lowCodeEditor/components/BaseComponents/index.ts
  src/components/lowCodeEditor/components/Canvas/CanvasComponent.vue
  src/components/lowCodeEditor/components/Canvas/index.vue
  src/components/lowCodeEditor/components/ComponentPanel/index.vue
  src/components/lowCodeEditor/components/Preview/PreviewRenderer.vue
  src/components/lowCodeEditor/components/PropertyPanel/index.vue
  src/components/lowCodeEditor/index.ts
  src/components/lowCodeEditor/lowCodeEditor.stories.tsx
  src/components/lowCodeEditor/store/editor.ts
  src/components/lowCodeEditor/types/index.ts
  src/components/lowCodeEditor/vue-shims.d.ts
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 第二版低代码编辑器
  package.json
  src/components/lowCodeEditorPlus/LowCodeEditorPlus.vue
  src/components/lowCodeEditorPlus/README.md
  src/components/lowCodeEditorPlus/components/CanvasArea.vue
  src/components/lowCodeEditorPlus/components/ComponentPalette.vue
  src/components/lowCodeEditorPlus/components/ComponentWrapper.vue
  src/components/lowCodeEditorPlus/components/PropertyEditor.vue
  src/components/lowCodeEditorPlus/hooks/useComponentRegistry.ts
  src/components/lowCodeEditorPlus/index.ts
  src/components/lowCodeEditorPlus/lowCodeEditorPlus.stories.tsx
  src/components/lowCodeEditorPlus/store/editorStore.ts
  src/components/lowCodeEditorPlus/types/index.ts
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 第三版低代码编辑器
  src/components/lowCodeEditor2/LowCodeEditor.vue
  src/components/lowCodeEditor2/components/Canvas/CanvasComponent.vue
  src/components/lowCodeEditor2/components/Canvas/index.vue
  src/components/lowCodeEditor2/components/ComponentPanel/index.vue
  src/components/lowCodeEditor2/components/PropertyPanel/ComponentPropertiesForm.vue
  src/components/lowCodeEditor2/components/PropertyPanel/ComponentPropertyForm.vue
  src/components/lowCodeEditor2/components/PropertyPanel/DataSourceForm.vue
  src/components/lowCodeEditor2/components/PropertyPanel/StylePropertiesForm.vue
  src/components/lowCodeEditor2/components/PropertyPanel/index.vue
  src/components/lowCodeEditor2/constants/components.ts
  src/components/lowCodeEditor2/hooks/useDraggable.ts
  src/components/lowCodeEditor2/hooks/useResizable.ts
  src/components/lowCodeEditor2/index.ts
  src/components/lowCodeEditor2/lowCodeEditor2.stories.ts
  src/components/lowCodeEditor2/store/editorStore.ts
  src/components/lowCodeEditor2/types/index.ts
  src/components/lowCodeEditor2/utils/dragUtils.ts
  src/components/lowCodeEditor3/LowCodeEditor.vue
  src/components/lowCodeEditor3/components/Canvas/CanvasComponent.vue
  src/components/lowCodeEditor3/components/Canvas/index.vue
  src/components/lowCodeEditor3/components/ComponentPanel/index.vue
  src/components/lowCodeEditor3/components/PropertyPanel/ComponentPropertiesForm.vue
  src/components/lowCodeEditor3/components/PropertyPanel/index.vue
  src/components/lowCodeEditor3/constants/components.ts
  src/components/lowCodeEditor3/hooks/useDraggable.ts
  src/components/lowCodeEditor3/hooks/useResizable.ts
  src/components/lowCodeEditor3/index.ts
  src/components/lowCodeEditor3/lowCodeEditor3.stories.ts
  src/components/lowCodeEditor3/store/editorStore.ts
  src/components/lowCodeEditor3/types/index.ts
  src/components/lowCodeEditor3/utils/dragUtils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 第三版低代码编辑器，优化版
  src/components/lowCodeEditor2/LowCodeEditor.vue
  src/components/lowCodeEditor2/components/Canvas/CanvasComponent.vue
  src/components/lowCodeEditor2/components/Canvas/index.vue
  src/components/lowCodeEditor2/components/ComponentPanel/index.vue
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 第三版低代码编辑器，优化版
  src/components/lowCodeEditor/lowCodeEditor.storie1s.tsx
  src/components/lowCodeEditor2/lowCodeEditor2.storie1s.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 小改
  src/components/lowCodeEditor2/LowCodeEditor.vue
  src/components/lowCodeEditor2/components/Canvas/index.vue
  src/components/lowCodeEditor2/components/ComponentPanel/index.vue
  src/components/lowCodeEditor2/constants/components.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复点击图表报错问题
  src/components/lowCodeEditor2/components/Canvas/CanvasComponent.vue
  src/components/lowCodeEditor2/components/Canvas/index.vue
  src/components/lowCodeEditor2/components/ComponentPanel/index.vue
  src/components/lowCodeEditor2/constants/components.ts
  src/components/lowCodeEditor2/lowCodeEditor.stories.ts
  src/components/lowCodeEditor2/store/editorStore.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 预添加新的低代码编辑器测试cursor
  src/components/lowCodeEditor/.cursorrules
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: xinde
  src/components/lowCodeEditor1/.cursorrules
  src/components/lowCodeEditor1/LowCodeEditor.vue
  src/components/lowCodeEditor1/README.md
  src/components/lowCodeEditor1/components/ComponentPanel.vue
  src/components/lowCodeEditor1/components/ComponentPreview.vue
  src/components/lowCodeEditor1/components/ComponentPropertyPanel.vue
  src/components/lowCodeEditor1/components/ComponentRenderer.vue
  src/components/lowCodeEditor1/components/DraggableComponent.vue
  src/components/lowCodeEditor1/components/SlotPreview.vue
  src/components/lowCodeEditor1/components/propertyForms/ChartDataEditor.vue
  src/components/lowCodeEditor1/components/propertyForms/ComponentEventsForm.vue
  src/components/lowCodeEditor1/components/propertyForms/ComponentPropsForm.vue
  src/components/lowCodeEditor1/components/propertyForms/ComponentStyleForm.vue
  src/components/lowCodeEditor1/hooks/useComponentRules.ts
  src/components/lowCodeEditor1/hooks/useMagneticAlignment.ts
  src/components/lowCodeEditor1/index.ts
  src/components/lowCodeEditor1/stores/editorStore.ts
  src/components/lowCodeEditor1/types/index.ts
  src/components/lowCodeEditor1/utils/componentRegistry.ts
  src/components/lowCodeEditor1/utils/components/basicComponents.ts
  src/components/lowCodeEditor1/utils/components/chartComponents.ts
  src/components/lowCodeEditor1/utils/components/layoutComponents.ts
  src/components/lowCodeEditor1/utils/logger.ts
  src/components/lowCodeEditor2/lowCodeEditor.stories111.ts
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: xinde
  src/components/lowCodeEditor/ComponentPanel/index.vue
  src/components/lowCodeEditor/README.md
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复docs
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/theme/index.ts
  src/assets/styles/main.css
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 低代码编辑器目录结构搭建
  src/components/lowCodeEditor/ComponentPanel/ComponentCategory/index.vue
  src/components/lowCodeEditor/ComponentPanel/ComponentItem.stories.ts
  src/components/lowCodeEditor/ComponentPanel/ComponentItem.vue
  src/components/lowCodeEditor/ComponentPanel/ComponentPreview/index.vue
  src/components/lowCodeEditor/ComponentPanel/ComponentSearch/index.vue
  src/components/lowCodeEditor/ComponentPanel/DraggableComponent/index.vue
  src/components/lowCodeEditor/ComponentPanel/index.stories.ts
  src/components/lowCodeEditor/ComponentPanel/index.vue
  src/components/lowCodeEditor/ComponentPropertyPanel/index.stories.ts
  src/components/lowCodeEditor/ComponentPropertyPanel/index.vue
  src/components/lowCodeEditor/ComponentRenderer/ComponentNode.stories.ts
  src/components/lowCodeEditor/ComponentRenderer/ComponentNode.vue
  src/components/lowCodeEditor/ComponentRenderer/ComponentPreview.vue
  src/components/lowCodeEditor/ComponentRenderer/ComponentPreviewNode.stories.ts
  src/components/lowCodeEditor/ComponentRenderer/ComponentPreviewNode.vue
  src/components/lowCodeEditor/ComponentRenderer/index.stories.ts
  src/components/lowCodeEditor/ComponentRenderer/index.vue
  src/components/lowCodeEditor/EditorCanvas/GridCanvas/index.vue
  src/components/lowCodeEditor/Renderer/ComponentRenderer/index.vue
  src/components/lowCodeEditor/index.stories.tsx
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 低代码编辑器目录结构搭建
  create_structure.ps1
Due: none

feat: dragtable
  .storybook/.stories/DragTable.stories.tsx
  .storybook/lowCodeEditor.md
  .storybook/preview.ts
  src/components/DragTable/Example.vue
  src/components/DragTable/README.md
  src/components/DragTable/index.vue
  src/components/DragTable1/contextMenu.vue
  src/components/DragTable1/index.vue
  src/components/DragTable1/readme.md
  src/components/lowCodeEditor/ComponentPanel/index.stories.ts
  src/components/lowCodeEditor/index.stories.tsx
  src/components/lowCodeEditor/index.vue
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: dragtable
  .storybook/preview.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: dragtable
  package.json
Due: none

style: 修改主页样式
  .docs/.vitepress/theme/components/layout/components/HomeHero.vue
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/theme/index.ts
  .docs/.vitepress/typings/auto-imports.d.ts
  .docs/.vitepress/typings/components.d.ts
  .docs/components/Calendar.md
  package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

style: 修改组件样式
  .docs/.vitepress/theme/assets/custom.scss
  .docs/.vitepress/theme/assets/main.css
  .docs/.vitepress/theme/assets/tailwind.scss
  .docs/components/Calendar.md
  .gitignore
Due: stylelint --fix

style: 修改主页样式,文档样式
  .docs/.vitepress/theme/assets/custom.scss
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/components/layout/components/Title.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

style: 修改主页样式,文档样式
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/assets/tailwind.scss
  .docs/.vitepress/theme/index.ts
  .docs/.vitepress/typings/components.d.ts
  package.json
  src/components/index.ts
  src/main.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

style: 修改主页样式,文档样式
  .docs/components/ConfigProvider.md
  .docs/components/CopyToClipboard.md
  .docs/components/Icon.md
  .docs/components/Space.md
  .docs/components/Watermark.md
Due: none

feat: 修改dragTable
  src/components/DragTable/Example.vue
  src/components/DragTable/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 导出按钮
  src/components/ExportExcel/Example.vue
  src/components/ExportExcel/README.md
  src/components/ExportExcel/index.js
  src/components/ExportExcel/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: some
  src/components/VisualEditor/src/EditorRoot.stories1.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: some
  .storybook/.stories/ExportExcel.stories.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修改commitlint
  commitlint.config.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修改commitlint
  package.json
Due: none

feat: keepAlive
  .docs/.vitepress/theme/assets/tailwind.scss
  src/components/KeepAllAlive/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 移除旧dragTable
  src/components/DragTable1/contextMenu.vue
  src/components/DragTable1/index.vue
  src/components/DragTable1/readme.md
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 样式文件结构修改
  src/assets/styles/main.css
  src/assets/styles/tailwind.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
