Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

feat：更新代码
  packages/components/AIAgent/src/assets/emr.json
  packages/components/AIAgent/src/assets/emr2.json
  packages/components/AIAgent/src/assets/iconfont/iconfont.css
  packages/components/AIAgent/src/assets/iconfont/iconfont.ttf
  packages/components/AIAgent/src/assets/test.json
  packages/components/AIAgent/src/components/AIAgent.vue
  packages/components/AIAgent/src/components/api/api.js
  packages/components/AIAgent/src/components/business/ChatAgent.vue
  packages/components/AIAgent/src/components/business/EditPrompt.vue
  packages/components/AIAgent/src/components/emrAgent/components/TrasenEditor.vue
  packages/components/AIAgent/src/components/emrAgent/js/api.js
  packages/components/AIAgent/src/components/emrAgent/js/editorConfig/formatTemplate.js
  packages/components/AIAgent/src/components/emrAgent/js/syncMonacoData.js
  packages/components/AIAgent/src/components/markdown-it-vue/markdown-it-highlight.js
  packages/components/AIAgent/src/components/markdown-it-vue/markdown-it-image/image-viewer.vue
  packages/components/AIAgent/src/components/markdown-it-vue/utils.js
  packages/components/AIAgent/src/components/shepherd/index.js
  packages/components/AIAgent/src/components/shepherd/index.scss
  packages/components/AIAgent/src/components/ui/AboutMe.vue
  packages/components/AIAgent/src/components/ui/Bubble.vue
  packages/components/AIAgent/src/components/ui/ChatAgentHeader.vue
  packages/components/AIAgent/src/components/ui/ChatInput.vue
  packages/components/AIAgent/src/components/ui/FloatingPanel.vue
  packages/components/AIAgent/src/components/ui/ParamsPanel.vue
  packages/components/AIAgent/src/components/ui/QuickAccess.vue
  packages/components/AIAgent/src/components/ui/TipsPopover.vue
  packages/components/AIAgent/src/components/ui/UserNotice.vue
  packages/components/AIAgent/src/components/ui/toast/index.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

代码暂存
  play/render/src/apiPackage/axios.js
  play/render/src/apiPackage/demo/classApi.ts
  play/render/src/apiPackage/demo/console.js
  play/render/src/apiPackage/demo/countMessage.js
  play/render/src/apiPackage/demo/download.js
  play/render/src/apiPackage/demo/index.js
  play/render/src/apiPackage/demo/localRequest.js
  play/render/src/apiPackage/demo/mediaQuery.js
  play/render/src/apiPackage/demo/modifyComponent.jsx
  play/render/src/apiPackage/demo/request.js
  play/render/src/apiPackage/demo/rolesso.js
  play/render/src/apiPackage/demo/sso.js
  play/render/src/apiPackage/demo/tsSystem.js
  play/render/src/apiPackage/demo/upload.js
  play/render/src/apiPackage/demo/utils.js
  play/render/src/apiPackage/http.js
  play/render/src/apiPackage/netseriver.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

AI智能体结构优化
  packages/components/AIAgent/index.ts
  packages/components/AIAgent/src/components/index.js
  packages/components/AIAgent/src/index.vue
  play/render/src/apiPackage/axios.js
  play/render/src/apiPackage/netseriver.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

no message
  packages/components/AIAgent/src/components/AIAgent.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

修复AI智能体样式问题
  packages/components/AIAgent/index.ts
  packages/components/AIAgent/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: tailwind插件优化，部分参数初始化监听
  docs/vitepress/package.json
  packages/components/ConfigForm/src/index.vue
  packages/components/DraggableTable/src/components/ContextMenu/index.vue
  packages/components/PopoverTableSelect/src/base/index.vue
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/_old/ConfigForm/src/components/components/timeComponents/yearDatePicker/index.vue
  packages/components/package.json
  packages/components/version.json
  play/render/package.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3713 autoRoute开发，要求支持热更新
  packages/components/ViteConfig/src/plugins/autoRoutes/index.ts
  packages/components/ViteConfig/src/plugins/utils/virtual.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: utils抽离
  packages/components/package.json
  packages/components/tsconfig.json
  packages/components/tsconfig.node.json
  packages/components/version.json
  packages/utils/EslintConfig/index.ts
  packages/utils/EslintConfig/src/_types/index.ts
  packages/utils/EslintConfig/src/index.ts
  packages/utils/README.md
  packages/utils/ViteConfig/index.ts
  packages/utils/ViteConfig/src/_types/index.ts
  packages/utils/ViteConfig/src/_utils/getEnv.ts
  packages/utils/ViteConfig/src/_utils/index.ts
  packages/utils/ViteConfig/src/constants/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/ViteConfig/src/plugins/addScopedAndReplacePrefix.ts
  packages/utils/ViteConfig/src/plugins/autoRoutes/README.md
  packages/utils/ViteConfig/src/plugins/autoRoutes/index.ts
  packages/utils/ViteConfig/src/plugins/autoRoutes/routeGenerator.ts
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
  packages/utils/_api/axiosApi.js
  packages/utils/_api/index.ts
  packages/utils/_scripts/UploadComponent.ts
  packages/utils/_scripts/buildComponent.mts
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/version.json
  play/render/tsconfig.app.json
  pnpm-workspace.yaml
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: utils抽离
  packages/utils/ApiDialog/README.md
  packages/utils/ApiDialog/index.ts
  packages/utils/ApiDialog/src/Example.vue
  packages/utils/ApiDialog/src/components/CustomDialog.vue
  packages/utils/ApiDialog/src/components/FormDialog.vue
  packages/utils/ApiDialog/src/index.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: utils抽离
  package.json
  packages/utils/tsconfig.json
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

代码上传
  packages/components/_api/axiosApi.js
  play/render/src/api/index.ts
  play/render/src/apiPackage/axios.js
  play/render/src/apiPackage/http.js
  play/render/src/apiPackage/netseriver.js
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

删除废弃文件
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  packages/utils/_scripts/buildComponent.mts
  play/render/src/apiPackage/demo/classApi.ts
  play/render/src/apiPackage/demo/console.js
  play/render/src/apiPackage/demo/countMessage.js
  play/render/src/apiPackage/demo/download.js
  play/render/src/apiPackage/demo/index.js
  play/render/src/apiPackage/demo/localRequest.js
  play/render/src/apiPackage/demo/mediaQuery.js
  play/render/src/apiPackage/demo/modifyComponent.jsx
  play/render/src/apiPackage/demo/request.js
  play/render/src/apiPackage/demo/rolesso.js
  play/render/src/apiPackage/demo/sso.js
  play/render/src/apiPackage/demo/tsSystem.js
  play/render/src/apiPackage/demo/upload.js
  play/render/src/apiPackage/demo/utils.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: ViteConfig错误修改
  packages/utils/ViteConfig/src/index.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3720 Tree组件封装
  docs/vitepress/.vitepress/theme/styles/tailwind.scss
  package.json
  packages/components/Tree/index.ts
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
  packages/components/Tree/src/types/index.ts
  packages/components/_assets/styles/tailwind.scss
  packages/components/index.ts
  packages/components/package.json
  packages/components/version.json
  packages/utils/ViteConfig/src/_types/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/package.json
  play/render/src/assets/styles/tailwind.scss
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

ajax封装上传
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  packages/utils/_scripts/buildComponent.mts
  play/render/src/api/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3720 Tree组件封装,提供层级选择
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
  packages/components/Tree/src/types/index.ts
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3720 Tree组件封装,提供虚线
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
  packages/components/Tree/src/types/index.ts
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3720 Tree组件封装,提供虚线
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3725 tree组件文档与示例编写
  docs/vitepress/components/base/Tree.md
  docs/vitepress/examples/Tree/.gitkeep
  docs/vitepress/examples/Tree/base/basic.vue
  docs/vitepress/examples/Tree/buttons/customIcon.vue
  docs/vitepress/examples/Tree/buttons/slotFunction.vue
  docs/vitepress/examples/Tree/buttons/slotString.vue
  docs/vitepress/examples/Tree/buttons/types.vue
  docs/vitepress/examples/Tree/data/childrenField.vue
  docs/vitepress/examples/Tree/data/labelField.vue
  docs/vitepress/examples/Tree/data/row-parent.vue
  docs/vitepress/examples/Tree/display/showType-click.vue
  docs/vitepress/examples/Tree/display/showType-default.vue
  docs/vitepress/examples/Tree/display/showType-hover.vue
  docs/vitepress/examples/Tree/events/node-click.vue
  docs/vitepress/examples/Tree/icons/childIcon.vue
  docs/vitepress/examples/Tree/icons/icon-function.vue
  docs/vitepress/examples/Tree/icons/parentIcon.vue
  docs/vitepress/examples/Tree/layout/height.vue
  docs/vitepress/examples/Tree/layout/indent.vue
  docs/vitepress/examples/Tree/layout/showLine.vue
  docs/vitepress/examples/Tree/layout/showRowLine.vue
  docs/vitepress/examples/Tree/levelSelect/levelSelect.vue
  docs/vitepress/examples/Tree/slots/label.vue
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化虚拟模块工厂函数
  packages/utils/ViteConfig/src/index.ts
  packages/utils/ViteConfig/src/plugins/autoRoutes/index.ts
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化虚拟模块工厂函数
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 打包函数优化，特殊包EslintConfig排除
  packages/components/_scripts/buildComponent.mts
  packages/utils/_scripts/buildComponent.mts
  packages/utils/version.json
Due: none

feat: 打包函数优化，特殊包EslintConfig排除
  packages/utils/ViteConfig/src/plugins/autoRoutes/index.ts
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

3722 封装通用ajax插件
  package.json
  packages/components/_api/axiosApi.js
  packages/components/_api/index.ts
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  packages/utils/AjaxPackage/axios.js
  packages/utils/AjaxPackage/http.js
  packages/utils/AjaxPackage/index.ts
  packages/utils/AjaxPackage/netseriver.js
  packages/utils/_api/axiosApi.js
  packages/utils/_api/index.ts
  packages/utils/_scripts/UploadComponent.ts
  packages/utils/_scripts/buildComponent.mts
  packages/utils/index.ts
  packages/utils/package.json
  play/render/src/api/index.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化虚拟模块工厂函数
  packages/utils/ViteConfig/src/plugins/autoRoutes/index.ts
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化虚拟模块工厂函数
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

组件打包上传提示优化
  packages/components/_scripts/UploadComponent.ts
  play/render/src/views/demo/demo.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

faet: 3722 封装通用ajax插件使用文档上传
  docs/vitepress/components/utils/AjaxPackage.md
  packages/utils/AjaxPackage/axios.js
  packages/utils/version.json
  play/render/package.json
  play/render/src/api/index.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

build: 优化打包
  packages/components/_api/index.ts
  packages/components/_scripts/UploadComponent.ts
  packages/components/_scripts/buildComponent.mts
  packages/utils/_scripts/buildComponent.mts
  packages/utils/_utils/UploadComponent.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

style: 优化代码结构
  packages/utils/ViteConfig/src/index.ts
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

style: 优化代码结构
  packages/utils/ViteConfig/src/plugins/autoRoutes/index.ts
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

style: 优化代码结构
  packages/components/package.json
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

style: 优化代码结构
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

style: 优化代码结构
  play/render/package.json
  play/render/src/api/index.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

style: 优化单组件远程加载组件方式
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3747 vue3table组件添加分页功能
  docs/vitepress/components/table/ConfigTable.md
  docs/vitepress/components/table/DraggableTable.md
  docs/vitepress/components/table/EnterNextDragTable.md
  docs/vitepress/components/table/EnterNextTable.md
  packages/components/ConfigTable/src/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/EnterNextTable/src/index.vue
  packages/components/_scripts/buildComponent.mts
  packages/utils/AjaxPackage/axios.js
  packages/utils/version.json
  play/render/src/views/demo/demo.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

style: 优化单组件远程加载组件方式
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 补充文档依赖
  docs/storybook/package.json
  docs/vitepress/.vitepress/config/vite/index.ts
  docs/vitepress/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3747 vue3table组件添加分页功能 使用文档上传
  docs/vitepress/examples/ConfigTable/base/basic.vue
  docs/vitepress/examples/DraggableTable/edit/editable.vue
  docs/vitepress/examples/EnterNextDragTable/base.vue
  docs/vitepress/examples/EnterNextTable/base.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix
