Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

feat: viteConfig优化，自动检测环境
  eslint.config.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: ajaxPackage功能同步，打包优化，githubPage暂停
  .github/workflows/deploy.yml
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/ViteBuild/_utils/version.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: lint
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/package.json
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: lint
  packages/utils/ViteBuild/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: lint
  .github/workflows/deploy.yml
Due: none

feat: vxe换为依赖
  docs/vitepress/.vitepress/theme/index.ts
  packages/components/DraggableTable/src/index.vue
  packages/components/index.ts
  packages/template/index.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: vxe换为依赖
  packages/components/DraggableTable/index.ts
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_types/index.ts
  packages/components/DraggableTable/src/_types/props.ts
  packages/components/DraggableTable/src/_utils/index.ts
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/cell/CellRenderer.vue
  packages/components/DraggableTable/src/renderers/cell/_types/index.ts
  packages/components/DraggableTable/src/renderers/cell/_types/props.ts
  packages/components/DraggableTable/src/renderers/cell/index.tsx
  packages/components/DraggableTable/src/renderers/edit/EditRenderer.vue
  packages/components/DraggableTable/src/renderers/edit/_types/index.ts
  packages/components/DraggableTable/src/renderers/edit/_types/props.ts
  packages/components/DraggableTable/src/renderers/edit/index.tsx
  packages/components/DraggableTable/src/renderers/filter/FilterRenderer.vue
  packages/components/DraggableTable/src/renderers/filter/_types/index.ts
  packages/components/DraggableTable/src/renderers/filter/_types/props.ts
  packages/components/DraggableTable/src/renderers/filter/index.tsx
  packages/components/DraggableTable/src/renderers/index.ts
  packages/components/PopoverTableSelect/index.ts
  packages/components/PopoverTableSelect/src/Example.vue
  packages/components/PopoverTableSelect/src/_types/emits.ts
  packages/components/PopoverTableSelect/src/_types/index.ts
  packages/components/PopoverTableSelect/src/_types/props.ts
  packages/components/PopoverTableSelect/src/base/index.vue
  packages/components/PopoverTableSelect/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: vxe换为依赖
  docs/vitepress/.vitepress/theme/index.ts
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/helpers/mixin.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/icon/iconfont.ttf
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/icon/iconfont.woff
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/icon/iconfont.woff2
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/components/breadcrumb.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/components/countdown.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/components/image.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/components/old-icon.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/components/print.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/components/switch.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/components/tooltip.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/helpers/baseVar.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/helpers/placement.scss
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/icon/iconfont.ttf
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/icon/iconfont.woff
  packages/components/DraggableTable/src/components/VxeGrid/src/styles/pc-ui/icon/iconfont.woff2
  packages/components/DraggableTable/src/components/VxeGrid/styles/icon/iconfont.ttf
  packages/components/DraggableTable/src/components/VxeGrid/styles/icon/iconfont.woff
  packages/components/DraggableTable/src/components/VxeGrid/styles/icon/iconfont.woff2
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/index.ts
  packages/components/DraggableTable/src/styles/modules/index.module.scss
  play/render/src/main.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: vxe换为依赖
  docs/vitepress/.vitepress/theme/index.ts
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/cell/CellRenderer.vue
  packages/components/DraggableTable/src/renderers/cell/index.ts
  packages/components/DraggableTable/src/renderers/cell/index.tsx
  packages/components/DraggableTable/src/renderers/edit/index.ts
  packages/components/DraggableTable/src/renderers/edit/index.tsx
  packages/components/DraggableTable/src/renderers/filter/FilterRenderer.vue
  packages/components/DraggableTable/src/renderers/filter/_types/props.ts
  packages/components/DraggableTable/src/renderers/filter/index.ts
  packages/components/DraggableTable/src/renderers/filter/index.tsx
  play/render/src/main.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 采用局部依赖
  docs/vitepress/.vitepress/theme/index.ts
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/styles/modules/index.module.scss
  packages/utils/ViteBuild/index.ts
  play/render/src/main.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 代码优化
  docs/vitepress/.vitepress/config/vite/index.ts
  docs/vitepress/components/utils/AjaxPackage.md
  docs/vitepress/components/utils/EslintConfig.md
  docs/vitepress/components/utils/ViteConfig.md
  docs/vitepress/components/utils/classApi.md
  docs/vitepress/examples/ExportExcel/align/align.vue
  docs/vitepress/examples/ExportExcel/spanMethod/spanMethod.vue
  docs/vitepress/examples/PopoverTableSelect/customize/index.vue
  docs/vitepress/examples/PopoverTableSelect/customize/popup.vue
  docs/vitepress/package.json
  packages/components/DraggableTable/src/styles/style.scss
  packages/utils/AjaxPackage/README.md
  packages/utils/EslintConfig/README.md
  packages/utils/ViteConfig/README.md
  packages/utils/cssModuleGlobalRootPlugin/README.md
  packages/utils/version.json
  play/render/package.json
  play/render/src/api/index.ts
  play/render/vite.config.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 代码优化
  docs/storybook/tsconfig.base.json
  docs/storybook/tsconfig.json
  docs/storybook/tsconfig.node.json
  docs/vitepress/tsconfig.app.json
  docs/vitepress/tsconfig.base.json
  docs/vitepress/tsconfig.node.json
  packages/components/tsconfig.app.json
  packages/components/tsconfig.base.json
  packages/components/tsconfig.build.json
  packages/components/tsconfig.node.json
  packages/template/tsconfig.app.json
  packages/template/tsconfig.base.json
  packages/template/tsconfig.build.json
  packages/template/tsconfig.node.json
  packages/utils/cssModuleGlobalRootPlugin/index.ts
  packages/utils/tsconfig.base.json
  packages/utils/tsconfig.build.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  packages/utils/version.json
  play/render/tsconfig.app.json
  play/render/tsconfig.base.json
  play/render/tsconfig.node.json
  play/render/vite.config.ts
  pnpm-workspace.yaml
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 配置化表单添加跨框架方式，表单只处理ui与交互逻辑
  package.json
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/form.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/element-plus.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/ArrayFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/ObjectFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/VoidFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
  packages/utils/ViteConfig/src/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

配置化表单
  .playwright-mcp/agreement-checked-success.png
  .playwright-mcp/agreement-validation.png
  .playwright-mcp/antd-validation-full.png
  .playwright-mcp/antd-validation-showing.png
  .playwright-mcp/config-form-antd-submit.png
  .playwright-mcp/config-form-antd-test.png
  .playwright-mcp/config-form-fixed-validation.png
  .playwright-mcp/config-form-submit-success.png
  .playwright-mcp/submit-without-agreement.png
  .playwright-mcp/validation-error-showing.png
  .playwright-mcp/validation-test-empty-submit.png
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_config/fieldComponents.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/element-plus.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormSubmit.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormValidation.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: ViteConfig,cssModule插件升级，配置化表单阅读态
  .gitignore
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/element-plus.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFieldExpression.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
  packages/utils/ViteConfig/index.ts
  packages/utils/ViteConfig/src/_types/index.ts
  packages/utils/cssModuleGlobalRootPlugin/index.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat(ConfigForm): 添加阅读态样式 transformer 支持跨框架样式提取
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/element-plus.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix(ConfigForm): 阅读态下隐藏数组字段的操作按钮
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/ArrayFieldRenderer.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat(ConfigForm): 添加 handlers 示例并修复代码规范
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/element-plus.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/VoidFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormState.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormSubmit.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormValidation.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix(ConfigForm): 修复 Ant Design Vue DatePicker 字符串转 dayjs 问题
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat(ConfigForm): 为 Ant Design Vue DatePicker 自动设置 valueFormat
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

refactor(ConfigForm): 移除冗余的 toDayjs 转换，仅依靠 valueFormat
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

refactor(ConfigForm): 统一 handlers 和 validators 入参为 context 对象
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/form.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/validation.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormValidation.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat(ConfigForm): add simple search form example
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/SearchFormExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat(ConfigForm): 添加 v-model 双向绑定支持，优化 name 属性为可选
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/field.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/SearchFormExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
  packages/components/_scripts/buildComponent.mts
  packages/utils/ViteBuild/README.md
  packages/utils/ViteBuild/_types/index.ts
  packages/utils/ViteBuild/_utils/config.ts
  packages/utils/ViteBuild/_utils/deps.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/_scripts/buildComponent.mts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor(ConfigForm): 统一注释为中文，修复 lint 错误
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/dataSource.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/emits.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/expression.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/field.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/form.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/reaction.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/slots.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/validation.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/element-plus.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormValidation.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/SearchFormExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor(ConfigForm): 抽离工具函数和常量类型
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/constants.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/expression.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/field.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/form.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/props.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/reaction.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_utils/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFieldExpression.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormState.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormValidation.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/SearchFormExample.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat(ConfigForm): 拆分搜索示例到各自框架标签页
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueSearchExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusSearchExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix(ConfigForm): 修复 Ant Design Vue inline 布局和 labelWidth 支持
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix
