Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

feat: 优化组件目录结构
  scripts/buildComponent.mjs
Due: none

feat: 优化组件目录结构
  .storybook/.stories/ConfigForm.stories.tsx
  .storybook/.stories/ExportExcel.stories.tsx
  src/components/DraggableTable/src/renderers/cell/CellRenderer.tsx
  src/components/DraggableTable/src/renderers/edit/EditRenderer.tsx
  src/components/DraggableTable/src/废弃方案/转换el-table(遇到无法接收默认插槽).vue
  src/components/EnterNextContainer/README.md
  src/components/EnterNextDragTable/src/index.vue
  src/components/EnterNextTable/src/index.vue
  src/components/Select/src/Example.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件目录结构
  package.component.json
  package.readme.md
  scripts/buildComponent.mjs
Due: none

feat: 优化组件目录结构
  scripts/buildComponent.mjs
  src/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件目录结构
  package.json
  scripts/buildComponent.ts
  src/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件目录结构
  scripts/buildComponent.ts
  src/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件目录结构
  scripts/buildComponent.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件目录结构
  package.json
  scripts/buildComponent.mts
  src/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件目录结构
  scripts/buildComponent.mts
  src/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件目录结构
  .gitignore
  scripts/buildComponent.mts
  src/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件目录结构
  scripts/buildComponent.mts
Due: none

Initial commit
  README.md
Due: none

feat: 3621 tabs组件功能优化
  .github/workflows/deploy.yml
  docs/vitepress/.vitepress/theme/styles/tailwind.scss
  docs/vitepress/package.json
  docs/vitepress/tailwind.config.js
  packages/components/Tabs/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 测试CICD新命令
  .gitlab-ci.yml
Due: none

feat: 3622 indexDb操作类封装
  packages/components/_utils/indexdb.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}
