Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

fix: 修复输入框发送后没收起高度
  packages/components/AIAgent/src/components/emrAgent/components/TrasenEditor.vue
  packages/components/AIAgent/src/components/ui/Bubble.vue
  packages/components/AIAgent/src/components/ui/ChatInput.vue
  packages/components/AIAgent/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 ts修复
  constant/.gitignore
  constant/tsconfig.json
  docs/storybook/tsconfig.json
  docs/vitepress/tsconfig.app.json
  docs/vitepress/tsconfig.json
  docs/vitepress/tsconfig.node.json
  package.json
  packages/components/ImportExcel/src/index.vue
  packages/components/index.ts
  packages/components/tsconfig.build.json
  packages/components/tsconfig.json
  packages/constant/common.ts
  packages/constant/index.ts
  packages/constant/package.json
  packages/utils/_utils/build.mts
  packages/utils/tsconfig.build.json
  packages/utils/tsconfig.json
  play/render/src/main.ts
  play/render/tsconfig.app.json
  play/render/tsconfig.json
  play/render/tsconfig.node.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 Footer组件封装，DraggableTable类型抽离
  env.d.ts
  packages/components/DraggableTable/src/_types/emit.ts
  packages/components/DraggableTable/src/_types/index.ts
  packages/components/DraggableTable/src/_types/props.ts
  packages/components/DraggableTable/src/index.vue
  packages/components/Footer/README.md
  packages/components/Footer/index.ts
  packages/components/Footer/src/Example.vue
  packages/components/Footer/src/_types/index.ts
  packages/components/Footer/src/_types/props.ts
  packages/components/Footer/src/index.vue
  packages/components/Footer/src/types/index.ts
  packages/components/tsconfig.build.json
  packages/components/tsconfig.json
  packages/utils/tsconfig.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 Footer组件封装，DraggableTable类型抽离
  packages/components/Footer/src/types/index.ts
  packages/components/TsFooter/README.md
  packages/components/TsFooter/index.ts
  packages/components/TsFooter/src/Example.vue
  packages/components/TsFooter/src/_types/index.ts
  packages/components/TsFooter/src/_types/props.ts
  packages/components/TsFooter/src/index.vue
  packages/components/index.ts
  packages/utils/_api/cache.ts
  packages/utils/_api/components.ts
  packages/utils/_api/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4057 配置化form表单组件（导入配置组件）
  packages/components/ReForm/src/_utils/constants.ts
  packages/components/ReForm/src/_utils/index.ts
  packages/components/ReForm/src/_utils/useForm.ts
  packages/components/ReForm/src/components/renderItem.vue
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4057 配置化form表单组件(功能优化）
  packages/components/ReForm/src/_types/index.ts
  packages/components/ReForm/src/_utils/useForm.ts
  packages/components/ReForm/src/_utils/useGridResponsive/types.ts
  play/render/src/views/demo/data.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3834 优化文档，优化Tabs
  docs/vitepress/components/base/Tabs.md
  docs/vitepress/components/base/Tree.md
  docs/vitepress/examples/Tabs/base.vue
  docs/vitepress/examples/Tabs/events/tabChange.vue
  docs/vitepress/examples/Tabs/props/lazy.vue
  docs/vitepress/examples/Tabs/props/showFn.vue
  docs/vitepress/examples/Tabs/props/slotName.vue
  packages/components/PopoverTableSelect/src/Example.vue
  packages/components/Tabs/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 优化文档
  docs/vitepress/components/base/DateRangePicker.md
  docs/vitepress/components/base/EnterNextContainer.md
  docs/vitepress/components/base/ExportExcel.md
  docs/vitepress/components/base/ImportExcel.md
  docs/vitepress/components/base/PopoverTableSelect.md
  docs/vitepress/components/base/Select.md
  docs/vitepress/components/utils/AjaxPackage.md
  packages/components/DraggableTable/index.ts
  packages/components/HisFooter/index.ts
  packages/components/HisFooter/src/_types/index.ts
  packages/components/HisFooter/src/_types/props.ts
  packages/components/HisFooter/src/index.vue
  packages/components/PopoverTableSelect/src/base/index.vue
  packages/utils/_utils/index.ts
  packages/utils/_utils/object.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4057配置化form表单组件(初版上传）
  packages/components/ReForm/src/_types/index.ts
  packages/components/ReForm/src/_utils/index.ts
  packages/components/ReForm/src/_utils/useForm.ts
  packages/components/ReForm/src/_utils/useGridResponsive/constants.ts
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/ReForm/src/index.vue
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 Tree组件级联功能
  packages/components/Tree/README.md
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
  packages/components/Tree/src/types/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 Tree组件级联功能
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 Tree组件级联功能
  packages/components/package.json
  packages/constant/common.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 4066前端框架及组件库bug修复与优化（ReForm组件代码优化）
  packages/components/ReForm/src/components/renderItem.vue
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/ReForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 Tree组件级联功能
  packages/components/version.json
Due: none

feat: 4057 配置化form表单组件(使用文档上传）
  docs/_old/examples/ConfigForm/expose/getRef.vue
  docs/vitepress/components/base/ReForm.md
  docs/vitepress/examples/ReForm/base/disabled.vue
  docs/vitepress/examples/ReForm/base/group.vue
  docs/vitepress/examples/ReForm/base/index.vue
  docs/vitepress/examples/ReForm/base/relation.vue
  docs/vitepress/examples/ReForm/events/index.vue
  docs/vitepress/examples/ReForm/layout/flex.vue
  docs/vitepress/examples/ReForm/layout/index.vue
  docs/vitepress/examples/ReForm/readonly/index.vue
  docs/vitepress/examples/ReForm/slots/control.vue
  docs/vitepress/examples/ReForm/slots/index.vue
  packages/components/ReForm/src/_utils/index.ts
  packages/components/ReForm/src/_utils/useForm.ts
  packages/components/ReForm/src/components/ReCollapsedBtn.vue
  packages/components/ReForm/src/components/renderItem.vue
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/ReForm/src/index.vue
  packages/components/index.ts
  packages/components/version.json
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4066前端框架及组件库bug修复与优化(his6.0系统，HisFooter组件上传）
  packages/components/HisFooter/src/_types/props.ts
  packages/components/HisFooter/src/index.vue
  packages/components/ReForm/src/index.vue
  packages/utils/AjaxPackage/axios.js
  packages/utils/_api/components.ts
  packages/utils/_api/hisComponents.ts
  packages/utils/_api/index.ts
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4155 组件样式去除逻辑开发
  packages/components/DraggableTable/src/Example.vue
  packages/components/ImportExcel/src/index.vue
  packages/components/Tree/README.md
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/types/index.ts
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  packages/components/tsconfig.app.json
  packages/components/tsconfig.json
  packages/components/tsconfig.node.json
  packages/constant/package.json
  packages/utils/_scripts/buildComponent.mts
  packages/utils/_utils/build/index.mts
  packages/utils/_utils/build/plugins/cssInjectedByJsPlugin/index.mts
  packages/utils/_utils/build/plugins/cssInjectedByJsPlugin/interface.ts
  packages/utils/_utils/build/plugins/cssInjectedByJsPlugin/utils.ts
  packages/utils/_utils/build/plugins/transformAliasPlugin/index.mts
  packages/utils/_utils/build/utils/UploadComponent.ts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4157 样式结构优化
  packages/components/DateRangePicker/src/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/subMenu.vue
  packages/utils/_utils/build/plugins/cssInjectedByJsPlugin/utils.ts
  play/render/src/assets/styles/main.css
  play/render/src/layout/element.vue
  play/render/src/main.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4157 样式结构优化
  packages/components/DateRangePicker/src/Example.vue
  packages/components/DateRangePicker/src/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/PopoverTableSelect/src/Example.vue
  packages/components/Splitter/src/Example.vue
  packages/components/Splitter/src/index.vue
  packages/components/TsFooter/src/Example.vue
  packages/components/TsFooter/src/index.vue
  packages/components/_assets/styles/base.css
  packages/components/_assets/styles/custom.scss
  packages/components/_assets/styles/element/custom.scss
  packages/components/_assets/styles/element/fixQiankun.scss
  packages/components/_assets/styles/element/index.scss
  packages/components/_assets/styles/main.css
  packages/components/_assets/styles/main.scss
  packages/components/_assets/styles/tailwind.scss
  packages/components/package.json
  packages/components/subMenu.vue
  packages/utils/_utils/build/plugins/cssInjectedByJsPlugin/utils.ts
  packages/utils/_utils/build/plugins/transformAliasPlugin/index.mts
  play/render/src/assets/styles/main.css
  play/render/src/assets/styles/tailwind.scss
  play/render/src/layout/element.vue
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat:4066前端框架及组件库bug修复与优化(his6.0 footer组件优化）
  packages/components/HisFooter/src/index.vue
  packages/utils/AjaxPackage/axios.js
  packages/utils/AjaxPackage/http.js
  packages/utils/AjaxPackage/netseriver.js
  packages/utils/_api/hisComponents.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4157 样式结构优化
  docs/vitepress/.vitepress/theme/index.ts
  docs/vitepress/.vitepress/theme/styles/base.scss
  docs/vitepress/.vitepress/theme/styles/element/custom.scss
  docs/vitepress/.vitepress/theme/styles/element/fixQiankun.scss
  docs/vitepress/.vitepress/theme/styles/element/index.scss
  docs/vitepress/.vitepress/theme/styles/index.scss
  packages/components/DraggableTable/src/index.vue
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/ReForm/src/components/renderItem.vue
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigFromPlayground/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigFromPlayground/src/index.vue
  play/render/src/assets/styles/main.css
  play/render/src/assets/styles/vxe.css
  play/render/src/main.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4157 样式结构优化
  docs/storybook/assets/styles/base.scss
  docs/storybook/assets/styles/custom.scss
  docs/storybook/assets/styles/element/custom.scss
  docs/storybook/assets/styles/element/fixQiankun.scss
  docs/storybook/assets/styles/element/index.scss
  docs/storybook/assets/styles/index.scss
  docs/storybook/assets/styles/tailwind.scss
  docs/storybook/preview.ts
  packages/components/_assets/styles/base.scss
  packages/components/_assets/styles/main.scss
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4157 样式结构优化
  play/render/src/assets/styles/base.css
  play/render/src/assets/styles/main.css
Due: stylelint --fix

feat: 4057配置化form表单组件(修复分组问题）
  packages/components/ReForm/src/_utils/useForm.ts
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4157 样式结构优化
  packages/components/TsButton/src/Example.vue
  play/render/src/assets/styles/base.css
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 发布测试版本
  packages/components/version.json
Due: none

feat: 4157 package.json命令优化
  packages/components/package.json
  packages/utils/package.json
Due: none

feat: 4157 打包抽离
  packages/components/_scripts/buildComponent.mts
  packages/utils/_scripts/buildComponent.mts
  packages/utils/_utils/build/index.mts
Due: none

feat: 4157 打包抽离
  packages/components/version.json
  packages/utils/_utils/build/index.mts
  packages/utils/_utils/build/utils/UploadComponent.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 4157 打包抽离
  packages/utils/_utils/build/index.mts
Due: none

feat: 4157 打包抽离
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 8833 医保编码、医师编码没有了
  packages/components/HisFooter/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4057配置化form表单组件(在flex布局下添加设置固定宽度功能）
  packages/components/ReForm/src/_types/index.ts
  packages/components/ReForm/src/_utils/index.ts
  packages/components/ReForm/src/components/ReCollapsedBtn.vue
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/ReForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4057 添加实例文档
  docs/vitepress/components/base/ReForm.md
Due: none

feat: 代码优化
  packages/components/ReForm/src/_utils/useForm.ts
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/ReForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4222 DraggableTable样式问题处理
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/filter/FilterRenderer.tsx
  packages/components/_assets/styles/elementPlusBase.css
  packages/components/_assets/styles/elementPlusVariable.css
  packages/components/_utilComponents/Element/ElButton/index.vue
  packages/components/_utilComponents/Element/ElCheckbox/index.vue
  packages/components/_utilComponents/Element/ElInput/index.vue
  packages/components/_utilComponents/Element/ElOption/index.vue
  packages/components/_utilComponents/Element/ElSelect/index.vue
  packages/components/_utilComponents/Element/ElSwitch/index.vue
  packages/components/_utilComponents/Element/index.ts
  play/render/src/layout/element.vue
  play/render/src/main.ts
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4222 DraggableTable样式问题处理
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/_utilComponents/Element/ElButton/index.vue
  packages/components/_utilComponents/Element/ElCheckbox/index.vue
  packages/components/_utilComponents/Element/ElInput/index.vue
  packages/components/_utilComponents/Element/ElOption/index.vue
  packages/components/_utilComponents/Element/ElSelect/index.vue
  packages/components/_utilComponents/Element/ElSwitch/index.vue
  packages/components/_utilComponents/Element/index.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix
