Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

feat: 优化ts
  package.json
Due: none

feat: 优化ts
  src/components/Select/Example.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化ts
  .docs/.vitepress/config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 新增组件
  src/components/Select/Example.vue
  src/components/Select/uitls/index.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 新增组件
  src/components/Select/uitls/index.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化ts
  tsconfig.app.json
Due: none

feat: 新增组件
  src/components/Tabs/index.vue
  src/components/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修改名称
  .storybook/.stories/DraggableTable.stories.tsx
  src/components/DraggableTable/Example.vue
  src/components/DraggableTable/README.md
  src/components/DraggableTable/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修改名称
  src/components/Select/uitls/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修复类型问题
  src/components/DateRangePicker/README.md
  src/components/DraggableTable/index.vue
  src/components/Select/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件
  src/components/DateRangePicker/index.vue
  src/components/DraggableTable/Example.vue
  src/components/DraggableTable/README.md
  src/components/DraggableTable/index.vue
  src/components/DraggableTable/renderers/edit/EditRenderer.tsx
  src/components/DraggableTable/renderers/edit/index.tsx
  src/components/DraggableTable/renderers/filter/FilterRenderer.tsx
  src/components/DraggableTable/renderers/filter/index.tsx
  src/components/DraggableTable/renderers/index.ts
  src/components/Select/index.vue
  src/components/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件stories
  .env
  .storybook/.stories/DateRangePicker.stories.tsx
  .storybook/.stories/DraggableTable.stories.tsx
  .storybook/.stories/Select.stories.tsx
  .storybook/preview.ts
  package.json
  plugins/addScopedAndReplacePrefix.ts
  src/App.vue
  src/main.ts
  tsconfig.app.json
  tsconfig.docs.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化ts
  tsconfig.app.json
  tsconfig.node.json
Due: none

feat: 优化ts
  .storybook/.stories/DateRangePicker.stories.tsx
  .storybook/.stories/DraggableTable.stories.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 更新配置
  .env
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 更新配置
  package.json
Due: none

feat: 更新配置
  .env
Due: none

feat: 更新配置
  src/utils/index.ts
  src/utils/modules/getEnv.ts
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 更新配置
  plugins/addScopedAndReplacePrefix.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 更新配置
  env.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 更新配置
  src/utils/modules/getEnv.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 更新配置
  .storybook/main.ts
  src/utils/index.ts
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 更新配置
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化ts
  src/utils/modules/modifyComponent.tsx
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化ts
  src/components/index.ts
  src/examples/index.ts
  src/layout/index.ts
  src/router/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化示例路由
  src/components/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化示例路由
  .env.development
  .env.production
Due: none

feat: 添加打包
  .github/workflows/deploy.yml
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 添加打包
  .github/workflows/deploy.yml
Due: none

feat: 修改流水线
  .github/workflows/deploy.yml
Due: none

feat: 修改流水线
  .env
  .github/workflows/deploy.yml
  env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修改流水线
  .github/workflows/deploy.yml
  package.json
Due: none

feat: 修改流水线
  .env
  env.d.ts
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修改流水线
  scripts/CICD.mjs
Due: none

fix: 修复bug
  .env
  src/components/ConfigForm/components/components.ts
  src/components/ConfigForm/components/components/rarelyComponents/wlButton/components/defaultButton/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlButton/components/importFileButton/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlButton/components/throttleButton/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlPopconfirm/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlPopover/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlTooltip/index.vue
  src/components/ConfigForm/components/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 修复bug
  src/components/index.ts
  src/examples/index.ts
  src/views/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: 修复bug
  src/examples/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}
