Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat：修改病历模板解析规则
  packages/components/AIAgent/src/components/emrAgent/js/editorConfig/formatTemplate.js
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3948 组件库功能优化及bug修改(DraggableTable组件列配置弹窗优化）
  .gitlab-ci.yml
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/_scripts/buildComponent.mts
  packages/components/version.json
  packages/utils/_utils/build.mts
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复组件上传类型问题
  packages/components/_scripts/buildComponent.mts
  packages/components/version.json
Due: none

feat: 3948 组件库功能优化及bug修改
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化console
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_utils/index.ts
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/utils/GoogleModel/index.ts
  packages/utils/_utils/base.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/index.vue
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3948.组件库功能优化及bug修改(组件开发调试功能调整）
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3948 组件库功能优化及bug修改(个性化列配置添加是否有权限统一设置）
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  play/render/src/views/demo/data.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/utils/GoogleModel/index.ts
  packages/utils/_utils/base.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_utils/index.ts
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3948 组件使用文案添加
  docs/vitepress/components/table/DraggableTable.md
Due: none

feat: 3834 DraggableTable持久化存储
  packages/utils/GoogleModel/_types/image4o.ts
  packages/utils/GoogleModel/_types/index.ts
  packages/utils/GoogleModel/_types/suno.ts
  packages/utils/GoogleModel/_types/veo3.ts
  packages/utils/GoogleModel/index.ts
  packages/utils/index.ts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/utils/GoogleModel/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 思考过程折叠逻辑优化
  packages/components/AIAgent/src/assets/emr3.json
  packages/components/AIAgent/src/assets/emr4.json
  packages/components/AIAgent/src/components/business/ChatAgent.vue
  packages/components/AIAgent/src/components/emrAgent/EmrManager.js
  packages/components/AIAgent/src/components/emrAgent/js/editorConfig/back.js
  packages/components/AIAgent/src/components/ui/Bubble.vue
  packages/components/AIAgent/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3948组件库功能优化及bug修改(列配置添加固定位置功能）
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3948 打包上传
  packages/components/version.json
  packages/utils/_utils/build.mts
Due: none

打包上传
  packages/utils/_utils/build.mts
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/index.vue
  packages/utils/GoogleModel/_types/index.ts
  packages/utils/GoogleModel/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/utils/EslintConfig/src/index.ts
  packages/utils/_scripts/buildComponent.mts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 4031 修复列配置打包后fixed字段默认选中问题
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3948 组件功能优化及bug修改
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/DraggableTable/src/Example.vue
  packages/components/Select/src/index.vue
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 DraggableTable持久化存储
  packages/components/_scripts/buildComponent.mts
  packages/utils/_scripts/buildComponent.mts
Due: none

feat: 3834 bug修复与代码优化
  packages/components/ConfigFrom/src/Example.vue
  packages/components/DateRangePicker/src/Example.vue
  packages/components/DraggableTable/src/Example.vue
  play/render/src/main.ts
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/_scripts/buildComponent.mts
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4057配置化form表单组件及组件库bug修复与优化（修复智能体Ai组件图标不显示问题）
  packages/components/AIAgent/index.ts
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

组件库发布版本更新
  packages/components/version.json
Due: none

feat: 3834 bug修复与代码优化
  packages/components/DraggableTable/src/Example.vue
  packages/components/version.json
  packages/utils/package.json
  play/render/src/views/demo/index.vue
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/DraggableTable/src/Example.vue
  packages/components/TsButton/src/Example.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/TsButton/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/TsButton/src/Example.vue
  packages/components/TsButton/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/version.json
Due: none

feat: 3834 bug修复与代码优化
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  packages/utils/_scripts/buildComponent.mts
  packages/utils/_utils/build.mts
  packages/utils/package.json
Due: none

feat: 4066 前端框架及组件库bug修复与优化(组件打包与调试添加公用变量区分）
  packages/components/version.json
  packages/utils/_utils/build.mts
  packages/utils/package.json
  play/render/package.json
  play/render/utils.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

组件发布
  packages/components/package.json
  packages/components/version.json
Due: none

feat: 4057 配置化form表单组件(代码暂存）
  packages/components/package.json
  play/render/src/views/demo/data.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 4057 配置化form表单组件(文件上传）
  constant/.gitignore
  constant/package.json
  constant/src/common.ts
  constant/src/index.ts
  constant/tsconfig.json
  packages/components/ReForm/index.ts
  packages/components/ReForm/src/_types/index.ts
  packages/components/ReForm/src/_utils/constants.ts
  packages/components/ReForm/src/_utils/index.ts
  packages/components/ReForm/src/_utils/useForm.ts
  packages/components/ReForm/src/_utils/useGridCols.ts
  packages/components/ReForm/src/_utils/useGridResponsive/constants.ts
  packages/components/ReForm/src/_utils/useGridResponsive/index.ts
  packages/components/ReForm/src/_utils/useGridResponsive/types.ts
  packages/components/ReForm/src/components/ReCollapsedBtn.vue
  packages/components/ReForm/src/components/renderItem.vue
  packages/components/ReForm/src/components/renderItems.vue
  packages/components/ReForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
