Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat(ConfigForm): 搜索示例添加布局类型 Tab 验证
  .gitignore
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueSearchExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusSearchExample.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor(ConfigForm): 删除旧的 SearchFormExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/SearchFormExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor(ConfigForm): 扁平化 UIAdapter 接口结构
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/_types/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/element-plus.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/ArrayFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/ObjectFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/VoidFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormSubmit.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor: 完成 Editor 和 ReForm 组件的 _utils -> utils 重命名
  packages/components/_AllTestOrNoPublishComponents/Editor/src/utils/diffEditor.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/utils/editor/common.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/utils/editor/diffEditor.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/utils/editor/editor.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/utils/editor/index.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/utils/format.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/utils/language.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/utils/workers.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/utils/constants.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/utils/index.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/utils/useForm.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/utils/useGridCols.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/utils/useGridResponsive/constants.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/utils/useGridResponsive/index.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/utils/useGridResponsive/types.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor: 完成 Editor/ReForm 组件 _utils -> utils 重命名
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor: 继续修复导入路径和代码优化
  docs/vitepress/.vitepress/config/theme/utils/generateSidebar.ts
  docs/vitepress/contants/utils/getRepoInfo.ts
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/filter/FilterRenderer.vue
  packages/components/ExportExcel/src/index.vue
  packages/components/TsSelect/src/index.vue
  packages/components/TsSelect/src/uitls/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFormSubmit.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/utils/expressionExecutor.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/utils/format.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
  packages/components/_hooks/useOptions.ts
  packages/template/index.ts
  packages/utils/AddUuidToTemplatePlugin/index.ts
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/AjaxPackage/utils/messageWrapper.ts
  packages/utils/AjaxPackage/utils/notificationWrapper.ts
  packages/utils/AjaxPackage/utils/systemErrorInfo.ts
  packages/utils/CssInjectedByJsPlugin/utils.ts
  packages/utils/IndexedDB/IndexedDB.ts
  packages/utils/IndexedDB/IndexedDBManager.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/ViteBuild/utils/version.ts
  packages/utils/ViteConfig/src/utils/detectFramework.ts
  packages/utils/_utils/base.ts
  packages/utils/_utils/clipboard.ts
  packages/utils/_utils/drag.ts
  packages/utils/_utils/getPackageDependencies.ts
  packages/utils/_utils/object.ts
  play/render/src/directives/index.ts
  play/render/src/views/demo3/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 修复组件全局注册问题
  packages/components/DraggableTable/src/index.vue
  packages/components/Tree/src/types/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/index.ts
  packages/components/components.ts
  packages/components/index.ts
  packages/components/tsconfig.app.json
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/IndexedDB/index.ts
  packages/utils/ViteBuild/utils/config.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/index.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复空文件问题
  packages/components/DraggableTable/src/index.vue
  packages/components/SubMenu/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/ObjectFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueSearchExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 添加字段校验
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/element-plus.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/ArrayFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/composables/useFieldExpression.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/components/StarRating.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/components/TagInput.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/components/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/types/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/types/field.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/types/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/utils/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/utils/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/utils/schemaValidator.ts
  play/render/src/main.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat(ConfigForm): 使用 layout 属性替代 type 来标识布局字段
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/README.md
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/adapters/element-plus.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/VoidFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/types/constants.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/types/field.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/types/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/utils/adapter.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/utils/schemaValidator.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

refactor(ConfigForm): 重构示例结构，分离 element 和 antd 目录
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/DESIGN.md
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/README.md
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/ArrayFieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/AntDesignVueSearchExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/ElementPlusSearchExample.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/antd/index.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/element/index.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat(ConfigForm): 支持 decorator 配置和 Schema 转换层
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldContent.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/components/FieldRenderer.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/examples/element/index.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/types/field.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/utils/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/utils/schemaTransformer.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat(ConfigForm): 集成完整处理流程（转换层→校验层→初始化层→渲染层）
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/DESIGN.md
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm/src/utils/schemaTransformer.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 对齐formily
  packages/components/ConfigForm/src/adapters/ant-design-vue.ts
  packages/components/ConfigForm/src/adapters/element-plus.ts
  packages/components/ConfigForm/src/components/ArrayFieldRenderer.vue
  packages/components/ConfigForm/src/components/FieldContent.vue
  packages/components/ConfigForm/src/components/FieldRenderer.vue
  packages/components/ConfigForm/src/components/ObjectFieldRenderer.vue
  packages/components/ConfigForm/src/components/VoidFieldRenderer.vue
  packages/components/ConfigForm/src/components/core/DecoratorWrapper.vue
  packages/components/ConfigForm/src/components/core/Field.vue
  packages/components/ConfigForm/src/components/core/FieldComponent.vue
  packages/components/ConfigForm/src/components/core/RecursionField.vue
  packages/components/ConfigForm/src/components/core/VoidField.vue
  packages/components/ConfigForm/src/components/core/index.ts
  packages/components/ConfigForm/src/components/decorators/CardDecorator.vue
  packages/components/ConfigForm/src/components/decorators/CollapseDecorator.vue
  packages/components/ConfigForm/src/components/decorators/GroupDecorator.vue
  packages/components/ConfigForm/src/components/decorators/TabsDecorator.vue
  packages/components/ConfigForm/src/components/decorators/index.ts
  packages/components/ConfigForm/src/components/index.ts
  packages/components/ConfigForm/src/index.vue
  packages/components/ConfigForm/src/types/adapter.ts
  packages/components/ConfigForm/src/types/index.ts
  packages/components/ConfigForm/src/utils/schemaTransformer.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修改readme.md
  packages/components/EnterNextContainer/README.md
  packages/components/TsFooter/README.md
  packages/components/_AllTestOrNoPublishComponents/Editor/README.md
  packages/components/_old/ConfigTable/README.md
Due: none

feat: formily源码同步
  pnpm-workspace.yaml
Due: none

Refactor custom commit rule for better readability
  commitlint.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

Update index.html
  play/render/index.html
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
