Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

feat: 优化组件库构建和发布流程
  package.json
Due: none

feat: 优化组件库构建和发布流程
  scripts/buildComponent.mjs
Due: none

feat: 优化组件库构建和发布流程
  package.json
  scripts/buildComponent.mjs
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  scripts/buildComponent.mjs
  src/components/Calendar/README.md
  src/components/ConfigForm/README.md
  src/components/ConfigProvider/README.md
  src/components/Icon/README.md
  src/components/IntersectObserver/README.md
  src/components/KeepAllAlive/README.md
  src/components/MarkdownEditor/README.md
  src/components/Select/README.md
  src/components/Tabs/README.md
  src/components/Watermark/README.md
Due: none

feat: 优化组件库构建和发布流程
  package.json
  scripts/buildComponent.mjs
Due: none

feat: 优化组件库构建和发布流程
  scripts/buildComponent.mjs
  scripts/publishAllComponents.mjs
Due: none

feat: 优化组件库构建和发布流程
  src/components/Calendar/src/components/CalendarHeader.vue
  src/components/Calendar/src/components/CalendarMonth.vue
  src/components/Calendar/src/index.vue
  src/components/Calendar/src/locale/en-US.ts
  src/components/Calendar/src/locale/index.ts
  src/components/Calendar/src/locale/interface.ts
  src/components/Calendar/src/locale/zh-CN.ts
  src/components/Calendar/src/types/index.ts
  src/components/ConfigProvider/src/index.vue
  src/components/ConfigProvider/src/types/index.ts
  src/components/DateRangePicker/src/Example.vue
  src/components/DateRangePicker/src/index.vue
  src/components/EnterNextContainer/src/Example.vue
  src/components/EnterNextContainer/src/index.vue
  src/components/EnterNextDragTable/src/Example.vue
  src/components/EnterNextDragTable/src/_types/index.ts
  src/components/EnterNextDragTable/src/index.vue
  src/components/EnterNextTable/src/Example.vue
  src/components/EnterNextTable/src/_types/index.ts
  src/components/EnterNextTable/src/index.vue
  src/components/ExportExcel/src/Example.vue
  src/components/ExportExcel/src/index.js
  src/components/ExportExcel/src/index.vue
  src/components/Icon/src/index.vue
  src/components/Icon/src/types/index.ts
  src/components/IntersectObserver/src/index.vue
  src/components/KeepAllAlive/src/index.vue
  src/components/MarkdownEditor/src/index.vue
  src/components/MarkdownEditor/src/types/index.ts
  src/components/PopoverTableSelect/src/Example.vue
  src/components/PopoverTableSelect/src/base/index.vue
  src/components/PopoverTableSelect/src/index.vue
  src/components/Select/src/Example.vue
  src/components/Select/src/index.vue
  src/components/Select/src/uitls/index.ts
  src/components/Tabs/src/index.vue
  src/components/Watermark/src/hooks/useWatermark.ts
  src/components/Watermark/src/index.vue
  src/components/Watermark/src/types/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件库构建和发布流程
  scripts/buildComponent.mjs
  src/components/ConfigForm/components/components.ts
  src/components/ConfigForm/components/components/rarelyComponents/wlButton/components.ts
  src/components/ConfigForm/components/popComponents.ts
  tsconfig.dts.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  src/components/ConfigProvider/README.md
  src/components/ConfigProvider/index.ts
  src/components/ConfigProvider/src/index.vue
  src/components/ConfigProvider/src/types/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件库构建和发布流程
  src/components/Tabs/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件库构建和发布流程
  scripts/buildComponent.mjs
  src/components/ConfigProvider/src/index.vue
  src/components/MarkdownEditor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件库构建和发布流程
  src/components/ConfigForm/components/components/rarelyComponents/wlTable/components.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  scripts/buildComponent.mjs
  src/components/ConfigForm/components/popComponents.ts
  src/utils/request.ts
  tsconfig.dts.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  scripts/buildComponent.mjs
  src/components/Watermark/index.ts
  src/components/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  scripts/buildComponent.mjs
  scripts/publishAllComponents.mjs
  scripts/restructureComponents.mjs
Due: none

feat: 优化组件库构建和发布流程
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件库构建和发布流程
  .storybook/.stories/DateRangePicker.stories.tsx
  .storybook/.stories/EnterNextContainer.stories.tsx
  .storybook/.stories/EnterNextDragTable.stories.tsx
  .storybook/.stories/EnterNextTable.stories.tsx
  .storybook/.stories/ExportExcel.stories.tsx
  .storybook/.stories/IntersectObserver.stories.ts
  .storybook/.stories/MarkdownEditor.stories.ts
  .storybook/.stories/PopoverTableSelect.stories.tsx
  .storybook/.stories/Select.stories.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件目录结构
  src/components/ConfigTable/Example.vue
  src/components/ConfigTable/index.vue
  src/components/MarkdownEditor/index.ts
  src/components/MarkdownEditor/src/index.vue.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件目录结构
  scripts/buildComponent.mjs
  src/components/ConfigTable/index.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件目录结构
  scripts/buildComponent.mjs
Due: none

feat: 优化组件目录结构
  package.json
  scripts/buildComponent.mjs
Due: none
