Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 类型修复
  packages/components/DateRangePicker/src/index.vue
  packages/components/DragModalDialog/src/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/ExportExcel/src/index.vue
  packages/components/G2/src/index.vue
  packages/components/HisFooter/src/index.vue
  packages/components/ImportExcel/src/index.vue
  packages/components/KeepAllAlive/src/index.vue
  packages/components/QrCode/src/index.vue
  packages/components/Splitter/src/index.vue
  packages/components/SubMenu/src/index.vue
  packages/components/Tabs/src/index.vue
  packages/components/Title/src/index.vue
  packages/components/Tree/index.ts
  packages/components/Tree/src/index.vue
  packages/components/TsButton/src/index.vue
  packages/components/TsFooter/src/index.vue
  packages/components/_utilComponents/Buttons/src/_types/props.ts
  packages/components/_utilComponents/Buttons/src/index.vue
  packages/constant/index.ts
  packages/utils/_api/components.ts
  packages/utils/_api/hisComponents.ts
  packages/utils/_api/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: ViteConfig改造为动态导入
  packages/utils/ViteConfig/src/index.ts
  packages/utils/_utils/dynamicImport.ts
  packages/utils/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 发布的包改为kebab-case
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/utils/ViteBuild/_types/index.ts
  packages/utils/ViteBuild/_utils/component.ts
  packages/utils/ViteBuild/_utils/deps.ts
  packages/utils/ViteBuild/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 修复bug
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 修复读卡bug
  packages/components/CardReader/src/Example.vue
  packages/components/CardReader/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 修复弹窗无法正常打开的问题
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 下一个版本修复
  packages/utils/ViteBuild/_utils/version.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: 动态导入修复
  packages/utils/AjaxPackage/class.ts
  packages/utils/ViteBuild/_utils/component.ts
  packages/utils/ViteBuild/_utils/viteConfig.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/_utils/dynamicImport.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: 类型兼容
  packages/constant/index.ts
  packages/utils/AjaxPackage/_types/index.ts
  packages/utils/AjaxPackage/_utils/index.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/ApiDialog/index.ts
  packages/utils/_api/cache.ts
  packages/utils/_api/components.ts
  packages/utils/_api/hisComponents.ts
  packages/utils/_api/index.ts
  packages/utils/_utils/date.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: 类型兼容
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/AjaxPackage/index.ts
  packages/utils/AjaxPackage/netseriver.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: 版本升级
  packages/utils/version.json
Due: none

fix: BaseApi抽离基础类，autoRoutes bug修复
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/AjaxPackage/_types/api.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/AjaxPackage/index.ts
  packages/utils/AutoRoutesPlugin/index.ts
  packages/utils/AutoRoutesPlugin/routeGenerator.ts
  play/render/package.json
  play/render/src/router/index.ts
  play/render/src/views/demo/index.vue
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 错误修复
  packages/utils/version.json
  play/render/.env
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: ajax-package兼容处理及扩展性优化
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/AjaxPackage/_types/api.ts
  packages/utils/AjaxPackage/class.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: ajax-package兼容处理及扩展性优化
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/AjaxPackage/index.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 错误弹窗优化
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: DraggableTable无法渲染问题处理
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/VxeGrid/src/components.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: ajax功能扩展
  packages/utils/AjaxPackage/_types/api.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 读卡组件改造
  packages/components/CardReader/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: DraggableTable错误修复
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 读卡组件换成nginx反向代理，脚本配置优化,包管理修改
  docs/storybook/package.json
  docs/vitepress/package.json
  package.json
  packages/components/CardReader/src/_types/props.ts
  packages/components/CardReader/src/index.vue
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  packages/template/_scripts/buildComponent.mts
  packages/template/package.json
  packages/utils/AjaxPackage/_types/api.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/ViteBuild/README.md
  packages/utils/ViteBuild/_types/index.ts
  packages/utils/ViteBuild/_utils/config.ts
  packages/utils/ViteBuild/_utils/deps.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/_scripts/buildComponent.mts
  packages/utils/package.json
  packages/utils/version.json
  play/render/package.json
  play/render/src/main.ts
  play/render/src/views/demo/index.vue
  play/render/vite.config.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 脚本优化
  packages/utils/ViteBuild/index.ts
  packages/utils/_utils/dynamicImport.ts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

fix: 修复文件丢失
  play/render/scripts/CICD.mjs
  play/render/scripts/CICD.mts
  play/render/scripts/build.mts
Due: none

fix: apiDialog修复
  packages/constant/common.ts
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/version.json
  play/render/src/views/demo/index.vue
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: apiDialog修复,打包错误修改，脚本补充
  packages/utils/version.json
Due: none

fix: react相关配置补充
  docs/vitepress/.vitepress/theme/styles/index.scss
  docs/vitepress/examples/DragModalDialog/base/index.vue
  packages/components/TsCheckbox/src/Example.vue
  packages/components/TsCheckbox/src/_types/props.ts
  packages/components/TsCheckbox/src/index.vue
  packages/components/_hooks/useOptions.ts
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/_api/components.ts
  packages/utils/_utils/object.ts
  packages/utils/package.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix: 配置优化
  docs/vitepress/components/utils/ViteConfig.md
  env.d.ts
  packages/utils/ViteConfig/README.md
  play/render/README.md
  play/render/env.d.ts
  play/render/src/router/index.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: ViteConfig优化，封装通用互斥函数
  packages/constant/common.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/_utils/object.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: ViteConfig优化，封装通用互斥函数
  packages/components/version.json
  packages/utils/version.json
Due: none

feat: eslint fix
  .github/workflows/deploy.yml
  docs/vitepress/examples/ExportExcel/align/align.vue
  docs/vitepress/examples/ExportExcel/spanMethod/spanMethod.vue
  packages/components/ExportExcel/src/Example.vue
  packages/components/ExportExcel/src/index.vue
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/ClassNames/index.ts
  packages/utils/CssInjectedByJsPlugin/index.ts
  packages/utils/version.json
  play/render/src/views/demo3/data/addSign.ts
  play/render/src/views/demo3/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: ajaxPackage升级
  docs/vitepress/.vitepress/config/vite/index.ts
  docs/vitepress/.vitepress/theme/components/layout.vue
  docs/vitepress/.vitepress/theme/index.ts
  docs/vitepress/tsconfig.app.json
  docs/vitepress/tsconfig.node.json
  packages/components/components.ts
  packages/components/index.ts
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/AjaxPackage/_types/api.ts
  packages/utils/AjaxPackage/_utils/messageWrapper.ts
  packages/utils/AjaxPackage/_utils/notificationWrapper.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/ApiDialog/src/index.ts
  packages/utils/_utils/clipboard.ts
  packages/utils/_utils/index.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: ajaxPackage升级
  packages/utils/version.json
Due: none

feat: ajaxPackage升级
  packages/utils/AjaxPackage/BaseHttpClient.ts
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/AjaxPackage/_types/api.ts
  packages/utils/AjaxPackage/_utils/messageWrapper.ts
  packages/utils/AjaxPackage/_utils/notificationWrapper.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: ajaxPackage升级
  packages/utils/_utils/clipboard.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: eslint优化，非必要规则全交由外面配置
  packages/utils/EslintConfig/src/_types/index.ts
  packages/utils/EslintConfig/src/index.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
