Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 修改blog
  .storybook/.stories/Calendar.stories.jsx
  .storybook/.stories/ConfigForm.stories.jsx
  .storybook/.stories/ConfigProvider.stories.jsx
  .storybook/.stories/CopyToClipboard.stories.jsx
  .storybook/.stories/DragTable.stories.jsx
  .storybook/.stories/Icon.stories.jsx
  .storybook/.stories/IntersectObserver.stories.js
  .storybook/.stories/Space.stories.jsx
  .storybook/.stories/Watermark.stories.tsx
  .storybook/.stories/assets/icons/check.svg
  .storybook/.stories/assets/styles/IntersectObserver.scss
  .storybook/.stories/assets/styles/Space.css
  .storybook/main.ts
  tsconfig.app.json
Due: none

perf: 修改blog
  .docs/.vitepress/theme/components.ts
  .docs/.vitepress/theme/index.ts
  .docs/components/Calendar.md
  .docs/components/前端已死.md
Due: none

perf: 修改blog
  src/components/Calendar/components/CalendarHeader.vue
  src/components/Calendar/components/CalendarMonth.vue
  src/components/Calendar/index.vue
  src/components/Calendar/types/index.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 修改blog
  commit-msg
Due: none

perf: 优化引入
  src/components/index.ts
  src/main.ts
  src/router/index.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

build: 修改打包
  .env
  .env.development
  .env.production
  package.json
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: none

build: 修改打包
  vite.config.ts
Due: none

feat: 添加国际化
  package.json
  src/locales/index.ts
  src/locales/lang/en.ts
  src/locales/lang/es.ts
  src/locales/lang/zh.ts
  src/main.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

feat: 添加国际化
  src/App.vue
  src/locales/lang/en.ts
  src/locales/lang/zh.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

feat: 添加shadcn
  components.json
  package.json
  src/assets/styles/tailwind.scss
  src/lib/utils.ts
  stylelint.config.js
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
  vite.config.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

build: 修改插件
  .env
  package.json
  src/main.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  vite.config.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

refactor: 修改环境变量
  .env.production
Due: none

refactor: 修改something
  .storybook/.stories/ConfigForm.stories.jsx
  vite.config.ts
Due: none

refactor: 修改something
  vite.config.ts
Due: none

refactor: 修改something
  .storybook/.stories/Calendar.stories.jsx
  .storybook/.stories/ConfigProvider.stories.jsx
  src/components/Calendar/index.vue
  src/types/components.d.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 修改storybook架构,使它正常解析slots
  .storybook/main.ts
  .storybook/preview.ts
  src/components/ConfigProvider/index.vue
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

fix: ts bug
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/layout/components/Page/components/FireWorksAnimation.vue
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/theme/rss.ts
  .docs/.vitepress/utils/index.ts
  .docs/.vitepress/utils/serverUtils.ts
  .docs/.vitepress/utils/utils.ts
  package.json
  tsconfig.app.json
Due: none

perf: 添加ts
  src/components/Icon/index.vue
  src/components/Space/tsx/Space.tsx
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 添加ts
  .storybook/.stories/Calendar.stories.tsx
  .storybook/.stories/ConfigForm.stories.tsx
  .storybook/.stories/ConfigProvider.stories.tsx
  .storybook/.stories/CopyToClipboard.stories.tsx
  .storybook/.stories/DragTable.stories.tsx
  .storybook/.stories/Icon.stories.tsx
  .storybook/.stories/IntersectObserver.stories.ts
  .storybook/.stories/Space.stories.tsx
  .storybook/.stories/Watermark.stories.tsx
  .storybook/.stories/_template.tsx
  .storybook/main.ts
  .storybook/preview.ts
  src/components/Calendar/index.vue
  src/components/ConfigForm/index.vue
  src/components/ConfigProvider/index.vue
  src/components/ConfigProvider/types/index.ts
  src/components/CopyToClipboard/index.vue
  src/components/CopyToClipboard/types/index.ts
  src/components/Icon/index.vue
  src/components/Icon/types/index.ts
  src/components/IntersectObserver/index.vue
  src/components/Space/index.vue
  src/components/Space/tsx/Space.tsx
  src/components/Space/types/index.ts
  src/components/Watermark/hooks/useWatermark.ts
  src/components/Watermark/index.vue
  src/components/Watermark/types/index.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 删除重复组件
  .storybook/main.ts
  src/components/ConfigForm/components/components/wlCascader/index.vue
  src/components/Watermark/index.vue
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

build: 优化
  .env
  src/assets/styles/main.css
  vite.config.ts
Due: stylelint --fix

fix: ts bug
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/components/layout/components/Comments.vue
  .docs/.vitepress/theme/components/layout/components/HomeHero.vue
  .docs/.vitepress/theme/components/layout/components/Title.vue
  .docs/.vitepress/utils/utils.ts
  package.json
  src/typings/auto-imports.d.ts
  src/typings/components.d.ts
  src/utils/index.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

fix: ts bug
  src/assets/styles/base.css
  src/assets/styles/custom.scss
  src/assets/styles/element/custom.scss
  src/assets/styles/element/index.scss
  src/assets/styles/main.css
  src/assets/styles/tailwind.scss
  src/components/Calendar/locale/en-US.ts
  src/components/Calendar/locale/index.ts
  src/components/Calendar/locale/interface.ts
  src/components/Calendar/locale/zh-CN.ts
  src/components/Calendar/readme.md
  src/components/IntersectObserver/readme-监听元素是否进入离开容器内指定可视区.md
  src/components/Watermark/hooks/useWatermark1.ts
  src/components/_types/utils.ts
  src/stores/iconfont.ts
  src/stores/index.ts
  stylelint.config.js
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

fix: ts bug
  .docs/.vitepress/utils/serverUtils.ts
Due: none

perf: eslint
  eslint.config.js
  package.json
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

perf: eslint
  eslint.config.js
Due: none

perf: configForm支持ts
  .storybook/.stories/ConfigForm.stories.tsx
  eslint.config.js
  src/components/ConfigForm/components/components.ts
  src/components/ConfigForm/components/index.js
  src/components/ConfigForm/components/index.ts
  src/components/ConfigForm/components/popComponents.ts
  src/components/ConfigForm/index.vue
  src/components/ConfigForm/types/index.ts
  src/types/components.d.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: configForm支持ts
  eslint.config.js
  src/components/ConfigForm/index.vue
  src/components/ConfigForm/types/index.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: configForm支持ts
  src/components/ConfigForm/types/index.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

perf: 修改包依赖,使storybook这种未使用vite打包的正常运行
  .docs/components/Calendar.md
  eslint.config.js
  package.json
  src/types/components.d.ts
  vite.config.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

perf: eslint
  eslint.config.js
  package.json
  src/components/ConfigForm/index.vue
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 测试是什么原因导致打包后vue失效
  .env
  eslint.config.js
Due: none

perf: 测试是什么原因导致打包后vue失效
  .env
  .storybook/main.ts
  eslint.config.js
  package.json
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: none

perf: 测试是什么原因导致打包后vue失效
  tsconfig.app.json
  tsconfig.node.json
Due: none

perf: 合并vite.config
  .env.development
  .storybook/main.ts
  babel.config.json
  eslint.config.js
  package.json
  src/components/DragTable/index.vue
  src/types/components.d.ts
  vite.config.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 合并vite.config
  babel.config.json
  package.json
Due: none

perf: 合并vite.config
  .storybook/main.ts
Due: none

Path conditions:
  eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}': any of: src/**/*.{js,jsx,ts,tsx,vue,md}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,vue,md}
  stylelint --fix: any of: src/**/*.{css,scss,less,vue}
