Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,vue,md}": [
    "eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}'",
    "prettier --write"
  ],
  "src/**/*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

perf: 合并vite.config
  src/types/components.d.ts
  vite.config.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

perf: 合并vite.config
  vite.config.ts
Due: none

perf: 合并vite.config
  .storybook/main.ts
Due: none

perf: 合并vite.config
  .env
Due: none

perf: 合并vite.config
  .storybook/main.ts
  vite.config.ts
Due: none

perf: 合并vite.config
  .env
  .storybook/main.ts
  src/constants/index.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  src/typings/components.d.ts
  vite.config.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

style: 删除重复样式
  src/main.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

perf: 修改命令,并测试
  .lintstagedrc.json
  src/components/ConfigForm/components/components/wlButton/components.ts
  src/components/ConfigForm/components/components/wlButton/components/importFileButton/index.vue
  src/components/ConfigForm/components/components/wlButton/components/throttleButton/index.vue
  src/components/ConfigForm/components/components/wlButton/index.vue
  src/typings/components.d.ts
  tailwind.config.js
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 修改命令,并测试
  stylelint.config.js
Due: none

perf: 测试eslint
  src/utils/index.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

perf: 测试eslint
  src/components/Calendar/index.vue
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 修改命令,并测试
  components.json
  package.json
  src/assets/styles/tailwind.scss
  src/lib/utils.ts
  tailwind.config.js
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 新增shadcn
  .storybook/.stories/Watermark.stories.tsx
  eslint.config.js
  package.json
  src/assets/styles/tailwind.scss
  src/components/ui/accordion/Accordion.vue
  src/components/ui/accordion/AccordionContent.vue
  src/components/ui/accordion/AccordionItem.vue
  src/components/ui/accordion/AccordionTrigger.vue
  src/components/ui/accordion/index.ts
  tailwind.config.js
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

feat: 修改文件
  .gitignore
  package.json
Due: none

feat: 修改文件
  package.json
Due: none

perf: 新增markdown编辑器
  src/typings/components.d.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

perf: 新增markdown编辑器
  .gitignore
  .storybook/.stories/MarkdownEditor.stories.ts
  .storybook/main.ts
  package.json
  src/components/MarkdownEditor/index.vue
  src/components/MarkdownEditor/types/index.ts
  src/typings/components.d.ts
  tailwind.config.mjs
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 新增markdown编辑器
  eslint.config.mjs
Due: none

perf: 优化布局
  .docs/.vitepress/typings/components.d.ts
Due: none

perf: 优化布局
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/Archives.vue
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/components/layout/components/Comments.vue
  .docs/.vitepress/theme/components/layout/components/CopyWright.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/FireWorksAnimation.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/ShareCard.vue
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
  .docs/.vitepress/theme/components/layout/components/Title.vue
  .docs/.vitepress/theme/components/layout/index.vue
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/typings/auto-imports.d.ts
  .docs/.vitepress/utils/utils.ts
  .lintstagedrc.json
  eslint.config.mjs
  src/assets/styles/tailwind.scss
  stylelint.config.js
  vite.config.ts
Due: stylelint --fix

perf: 优化布局
  package.json
Due: none

perf: 优化布局
  src/typings/components.d.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

fix: 样式格式化
  .editorconfig
  .eslintignore
  .lintstagedrc.json
  eslint.config.js
  package.json
  src/assets/styles/element/custom.scss
  src/components/Calendar/components/CalendarMonth.vue
  src/components/ConfigForm/components/components/cascaderComponents/wlCascader/index.vue
  src/components/ConfigForm/components/components/cascaderComponents/wlCascaderPanel/index.vue
  src/components/ConfigForm/components/components/inputComponents/wlAutocomplete/index.vue
  src/components/ConfigForm/components/components/inputComponents/wlInput/index.vue
  src/components/ConfigForm/components/components/inputComponents/wlInputNumber/index.vue
  src/components/ConfigForm/components/components/radioComponents/wlRadio/index.vue
  src/components/ConfigForm/components/components/radioComponents/wlRadioGroup/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlPagination/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlRate/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlSlider/index.vue
  src/components/ConfigForm/components/components/timePickerCompoents/wlDatePicker/index.vue
  src/components/ConfigForm/components/components/timePickerCompoents/wlTimePicker/index.vue
  src/components/ConfigForm/components/components/timePickerCompoents/wlTimeSelect/index.vue
  src/components/ConfigForm/components/components/wlCarousel/index.vue
  src/components/ConfigForm/components/components/wlSelect/index.vue
  src/components/ConfigForm/components/components/wlSwitch/index.vue
  src/components/ConfigForm/components/components/wlTransfer/index.vue
  src/components/DragTable/index.vue
  src/components/aother/class API封装/agentMap.js
  src/components/aother/class API封装/business.js
  src/components/aother/class API封装/classFetch.js
  src/components/aother/excel.vue
  src/layout/Index.vue
  src/typings/components.d.ts
  stylelint.config.js
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

fix: 样式格式化
  vite.config.ts
Due: none

fix: 样式格式化
  .gitignore
  src/typings/components.d.ts
  src/ui/drawer/DrawerFooter.vue
  src/ui/drawer/DrawerHeader.vue
  src/ui/hover-card/HoverCardContent.vue
  src/ui/popover/PopoverContent.vue
  src/ui/sheet/SheetFooter.vue
  src/ui/sheet/SheetHeader.vue
  src/ui/table/TableEmpty.vue
  tailwind.config.mjs
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 修改样式文件
  src/typings/components.d.ts
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write

perf: 测试eslint
  .editorconfig
  .eslintignore
  .lintstagedrc.json
  eslint.config.js
  package.json
  src/assets/styles/element/custom.scss
  src/components/ConfigForm/components/components/cascaderComponents/wlCascader/index.vue
  src/components/ConfigForm/components/components/cascaderComponents/wlCascaderPanel/index.vue
  src/components/ConfigForm/components/components/inputComponents/wlAutocomplete/index.vue
  src/components/ConfigForm/components/components/inputComponents/wlInput/index.vue
  src/components/ConfigForm/components/components/inputComponents/wlInputNumber/index.vue
  src/components/ConfigForm/components/components/radioComponents/wlRadio/index.vue
  src/components/ConfigForm/components/components/radioComponents/wlRadioGroup/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlPagination/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlRate/index.vue
  src/components/ConfigForm/components/components/rarelyComponents/wlSlider/index.vue
  src/components/ConfigForm/components/components/timePickerCompoents/wlDatePicker/index.vue
  src/components/ConfigForm/components/components/timePickerCompoents/wlTimePicker/index.vue
  src/components/ConfigForm/components/components/timePickerCompoents/wlTimeSelect/index.vue
  src/components/ConfigForm/components/components/wlCarousel/index.vue
  src/components/ConfigForm/components/components/wlSelect/index.vue
  src/components/ConfigForm/components/components/wlSwitch/index.vue
  src/components/ConfigForm/components/components/wlTransfer/index.vue
  src/components/DragTable/index.vue
  src/typings/components.d.ts
  stylelint.config.js
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix

perf: 测试eslint
  src/components/DragTable/index.vue
Due: eslint --fix --ignore-pattern 'src/components/ConfigForm/**/*.{js,jsx,ts,tsx,vue}', prettier --write, stylelint --fix
