Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

3770: feat 组件库添加删除
  docs/vitepress/guide/guide.md
  packages/utils/_api/index.ts
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 整合
  packages/components/Button/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 整合
  .gitlab-ci.yml
  package.json
  packages/components/AllTestOrNoPublishComponents/ConfigForm-formily/index.ts
  packages/components/AllTestOrNoPublishComponents/ConfigForm-formily/src/Example.vue
  packages/components/AllTestOrNoPublishComponents/ConfigForm-formily/src/index.vue
  packages/components/AllTestOrNoPublishComponents/ConfigFromPlayground/README.md
  packages/components/AllTestOrNoPublishComponents/ConfigFromPlayground/index.ts
  packages/components/AllTestOrNoPublishComponents/ConfigFromPlayground/src/Example.vue
  packages/components/AllTestOrNoPublishComponents/ConfigFromPlayground/src/index.vue
  packages/components/AllTestOrNoPublishComponents/Editor/README.md
  packages/components/AllTestOrNoPublishComponents/Editor/index.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/Example.vue
  packages/components/AllTestOrNoPublishComponents/Editor/src/_types/index.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/_utils/diffEditor.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/_utils/editor/common.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/_utils/editor/diffEditor.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/_utils/editor/editor.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/_utils/editor/index.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/_utils/format.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/_utils/language.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/_utils/workers.ts
  packages/components/AllTestOrNoPublishComponents/Editor/src/index.vue
  packages/components/AllTestOrNoPublishComponents/EnterNextTable/README.md
  packages/components/AllTestOrNoPublishComponents/EnterNextTable/index.ts
  packages/components/AllTestOrNoPublishComponents/EnterNextTable/src/Example.vue
  packages/components/AllTestOrNoPublishComponents/EnterNextTable/src/_types/index.ts
  packages/components/AllTestOrNoPublishComponents/EnterNextTable/src/index.vue
  packages/components/AllTestOrNoPublishComponents/MarkdownEditor/README.md
  packages/components/AllTestOrNoPublishComponents/MarkdownEditor/index.ts
  packages/components/AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
  packages/components/AllTestOrNoPublishComponents/MarkdownEditor/src/types/index.ts
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  packages/components/version.json
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 整合
  .gitlab-ci.yml
  docs/vitepress/components/table/DraggableTable.md
  packages/components/_AllTestOrNoPublishComponents/ConfigForm-formily/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigForm-formily/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigForm-formily/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigFromPlayground/README.md
  packages/components/_AllTestOrNoPublishComponents/ConfigFromPlayground/index.ts
  packages/components/_AllTestOrNoPublishComponents/ConfigFromPlayground/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/ConfigFromPlayground/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/Editor/README.md
  packages/components/_AllTestOrNoPublishComponents/Editor/index.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/Editor/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/_utils/diffEditor.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/_utils/editor/common.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/_utils/editor/diffEditor.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/_utils/editor/editor.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/_utils/editor/index.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/_utils/format.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/_utils/language.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/_utils/workers.ts
  packages/components/_AllTestOrNoPublishComponents/Editor/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/README.md
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/index.ts
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/src/Example.vue
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/src/_types/index.ts
  packages/components/_AllTestOrNoPublishComponents/EnterNextTable/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/README.md
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/index.ts
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/types/index.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 整合
  packages/components/_scripts/buildComponent.mts
  packages/components/version.json
Due: none

feat: 整合
  packages/components/package.json
Due: none

feat: 3834 bug修复与代码优化
  packages/components/Title/index.ts
  packages/components/Title/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/utils/_scripts/buildComponent.mts
Due: none

feat: 3834 bug修复与代码优化
  packages/components/Button/README.md
  packages/components/DateRangePicker/README.md
  packages/components/DragModalDialog/README.md
  packages/components/DraggableTable/README.md
  packages/components/EnterNextContainer/README.md
  packages/components/ExportExcel/README.md
  packages/components/ImportExcel/README.md
  packages/components/KeepAllAlive/README.md
  packages/components/PopoverTableSelect/README.md
  packages/components/Select/README.md
  packages/components/Tabs/README.md
  packages/components/Tree/README.md
  packages/utils/AjaxPackage/README.md
  packages/utils/EslintConfig/README.md
  packages/utils/ViteConfig/README.md
Due: none

feat: 3770 DraggableTable组件分页功能
  docs/vitepress/abandoned/ConfigTable.md
  docs/vitepress/abandoned/EnterNextTable.md
  docs/vitepress/components/base/PopoverTableSelect.md
  docs/vitepress/components/table/DraggableTable.md
  docs/vitepress/examples/DraggableTable/base/index.vue
  docs/vitepress/examples/PopoverTableSelect/events/loadMore.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/废弃方案/转换el-table(遇到无法接收默认插槽).vue
  packages/components/package.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3770 解决文件冲突
  docs/vitepress/abandoned/ConfigTable.md
  docs/vitepress/abandoned/EnterNextTable.md
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

fix:修复monaco-editor版本报错
  packages/components/package.json
Due: none

feat: 整合
  packages/components/version.json
Due: none

feat: 3834 bug修复与代码优化
  docs/vitepress/package.json
  package.json
  packages/components/package.json
  packages/utils/package.json
  pnpm-workspace.yaml
Due: none

feat: 3834 bug修复与代码优化
  pnpm-workspace.yaml
Due: none

feat: 3770 代码暂存
  docs/vitepress/components/table/DraggableTable.md
  packages/components/version.json
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  docs/vitepress/guide/guide.md
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_types/index.ts
  packages/components/DraggableTable/src/index.vue
  packages/components/_scripts/buildComponent.mts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  .github/workflows/deploy.yml
Due: none

feat: 3834 bug修复与代码优化
  packages/components/DateRangePicker/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/DateRangePicker/src/Example.vue
  packages/components/DateRangePicker/src/index.vue
  packages/utils/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  docs/vitepress/components/base/DateRangePicker.md
  docs/vitepress/examples/DateRangePicker/outputFormat/outputFormat.vue
  packages/components/DateRangePicker/README.md
  packages/components/_types/index.ts
  packages/components/package.json
  packages/components/version.json
  packages/utils/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/version.json
Due: none

feat: 3834 bug修复与代码优化
  docs/vitepress/components/base/Tree.md
  docs/vitepress/examples/Tree/buttons/customIcon.vue
  docs/vitepress/examples/Tree/buttons/slotFunction.vue
  docs/vitepress/examples/Tree/buttons/slotString.vue
  docs/vitepress/examples/Tree/buttons/types.vue
  docs/vitepress/examples/Tree/display/showType-click.vue
  docs/vitepress/examples/Tree/display/showType-default.vue
  docs/vitepress/examples/Tree/display/showType-hover.vue
  packages/components/DragModalDialog/src/Example.vue
  packages/components/DragModalDialog/src/index.vue
  packages/components/Tree/src/index.vue
  packages/components/Tree/src/types/index.ts
  packages/components/_utilComponents/Buttons/index.ts
  packages/components/_utilComponents/Buttons/src/_types/index.ts
  packages/components/_utilComponents/Buttons/src/index.vue
  packages/components/_utilComponents/Render/index.ts
  packages/components/_utilComponents/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/ConfigFrom/src/Example.vue
  packages/components/package.json
  packages/utils/_utils/base.ts
  packages/utils/_utils/date.ts
  packages/utils/_utils/event.ts
  packages/utils/_utils/index.ts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/ConfigFrom/src/Example.vue
  packages/utils/_utils/event.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3834 bug修复与代码优化
  packages/components/_scripts/buildComponent.mts
Due: none

feat: 3834 bug修复与代码优化
  packages/components/_scripts/buildComponent.mts
  packages/utils/_utils/build.mts
  packages/utils/package.json
Due: none

feat: 3834 bug修复与代码优化
  packages/components/_scripts/buildComponent.mts
  packages/utils/_utils/build.mts
Due: none

feat: 3834 bug修复与代码优化
  packages/components/package.json
  packages/utils/_utils/build.mts
Due: none

feat: 3834 bug修复与代码优化
  packages/utils/_utils/build.mts
Due: none

feat: 3834 bug修复与代码优化
  play/formilyPlayground/.env
  play/formilyPlayground/index.html
  play/formilyPlayground/package.json
  play/formilyPlayground/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3834 bug修复与代码优化
  packages/formily/element/package.json
  packages/formily/prototypes/package.json
  packages/formily/renderer/package.json
  packages/formily/setters/package.json
  packages/formily/settings-form/package.json
  play/formilyPlayground/package.json
  play/formilyPlayground/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3834 bug修复与代码优化
  play/formilyPlayground/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
