Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

feat: 补充远程加载组件虚拟模块
  packages/utils/AjaxPackage/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/ViteConfig/src/plugins/importComponentsOrUtils.ts
  play/render/src/api/index.ts
  play/render/src/api/services/classDemo.ts
  play/render/src/api/services/requestDemo.ts
  play/render/src/views/demo/index.vue
  play/render/utils.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Tree组件优化
  docs/vitepress/components/base/Tree.md
  docs/vitepress/examples/Tree/layout/height.vue
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
  packages/components/Tree/src/types/index.ts
  packages/utils/ViteConfig/src/plugins/importComponentsOrUtils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 定版初版remote虚拟模块
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/version.json
  packages/utils/ViteConfig/src/plugins/importComponentsOrUtils.ts
  play/render/src/api/index.ts
  play/render/src/main.ts
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: PopoverTableSelect优化
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

3752 上传组件函数优化
  packages/components/_scripts/buildComponent.mts
  packages/components/version.json
  packages/utils/_scripts/buildComponent.mts
  packages/utils/_utils/UploadComponent.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修复Tree组件bug
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复Tree组件bug
  packages/utils/ViteConfig/src/plugins/importComponentsOrUtils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修复Tree组件bug
  packages/components/version.json
Due: none

feat: 类型配置优化
  docs/storybook/tsconfig.json
  docs/vitepress/tsconfig.json
  package.json
  packages/components/tsconfig.json
  packages/element-plus/tsconfig.app.json
  packages/element-plus/tsconfig.json
  packages/element-plus/tsconfig.node.json
  packages/utils/ViteConfig/src/index.ts
  packages/utils/ViteConfig/src/plugins/importComponents.ts
  packages/utils/ViteConfig/src/plugins/vitePluginQiankunStyle.ts
  packages/utils/tsconfig.json
  play/render/src/views/demo/index.vue
  tsconfig.app.json
  tsconfig.base.json
  tsconfig.node.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 类型配置优化
  play/render/src/main.ts
  play/render/tsconfig.app.json
  play/render/tsconfig.json
  play/render/tsconfig.node.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat:AI助手更新1.6.4版本
  dist.zip
  packages/components/AIAgent/src/components/business/ChatAgent.vue
  packages/components/AIAgent/src/components/business/EditPrompt.vue
  packages/components/AIAgent/src/components/emrAgent/EmrManager.js
  packages/components/AIAgent/src/components/emrAgent/components/TrasenEditor.vue
  packages/components/AIAgent/src/components/emrAgent/js/editorConfig/codeAction.js
  packages/components/AIAgent/src/components/emrAgent/js/editorConfig/command.js
  packages/components/AIAgent/src/components/emrAgent/js/editorConfig/language.js
  packages/components/AIAgent/src/components/emrAgent/js/editorConfig/suggestions.js
  packages/components/AIAgent/src/components/markdown-it-vue/markdown-it.js
  packages/components/AIAgent/src/components/shepherd/ShepherdGuide.js
  packages/components/AIAgent/src/components/shepherd/index.js
  packages/components/AIAgent/src/components/ui/ChatAgentHeader.vue
  packages/components/AIAgent/src/components/ui/ChatInput.vue
  packages/components/AIAgent/src/components/ui/Conversations.vue
  packages/components/AIAgent/src/components/ui/ParamsPanel.vue
  packages/components/AIAgent/src/components/ui/TipsPopover.vue
  packages/components/AIAgent/src/components/ui/UserNotice.vue
  packages/components/AIAgent/src/components/utils/tsAiChat.js
  packages/components/AIAgent/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat 修复打包问题
  packages/components/_scripts/buildComponent.mts
  packages/components/tsconfig.base.json
  packages/components/version.json
  packages/utils/_scripts/buildComponent.mts
  packages/utils/tsconfig.base.json
Due: none

AI智能体添加依赖上传
  packages/components/AIAgent/src/index.vue
  packages/components/package.json
  packages/components/version.json
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3785 promise节流函数
  packages/components/Button/index.ts
  packages/components/Button/src/Example.vue
  packages/components/Button/src/index.vue
  packages/components/PopoverTableSelect/src/Example.vue
  packages/components/PopoverTableSelect/src/base/index.vue
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/index.ts
  packages/utils/_utils/index.ts
  play/render/src/views/demo/demo.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修复Tree错误
  packages/components/Tree/src/Example.vue
  packages/components/Tree/src/index.vue
  packages/components/Tree/src/types/index.ts
  packages/utils/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化promise 节流函数
  packages/components/version.json
  packages/utils/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化promise 节流函数
  packages/components/Button/src/index.vue
  packages/components/PopoverTableSelect/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 补充Tree文档
  docs/vitepress/.vitepress/theme/components/ApiTyping.vue
  docs/vitepress/components/base/DateRangePicker.md
  docs/vitepress/components/base/Tree.md
  docs/vitepress/examples/Tree/base/basic.vue
  docs/vitepress/examples/Tree/buttons/customIcon.vue
  docs/vitepress/examples/Tree/buttons/slotFunction.vue
  docs/vitepress/examples/Tree/buttons/slotString.vue
  docs/vitepress/examples/Tree/buttons/types.vue
  docs/vitepress/examples/Tree/data/childrenField.vue
  docs/vitepress/examples/Tree/data/labelField.vue
  docs/vitepress/examples/Tree/data/row-parent.vue
  docs/vitepress/examples/Tree/display/showType-click.vue
  docs/vitepress/examples/Tree/display/showType-default.vue
  docs/vitepress/examples/Tree/display/showType-hover.vue
  docs/vitepress/examples/Tree/events/node-click.vue
  docs/vitepress/examples/Tree/icons/childIcon.vue
  docs/vitepress/examples/Tree/icons/icon-function.vue
  docs/vitepress/examples/Tree/icons/parentIcon.vue
  docs/vitepress/examples/Tree/layout/indent.vue
  docs/vitepress/examples/Tree/layout/showLine.vue
  docs/vitepress/examples/Tree/layout/showRowLine.vue
  docs/vitepress/examples/Tree/levelSelect/levelSelect.vue
  docs/vitepress/examples/Tree/props/nodeClass.vue
  docs/vitepress/examples/Tree/slots/default.vue
  docs/vitepress/examples/Tree/slots/label.vue
  packages/components/Tree/src/index.vue
  packages/components/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3770 DragModalDialog组件上传
  docs/storybook/.stories/DragModalDialog.stories.tsx
  docs/vitepress/components/base/DragModalDialog.md
  docs/vitepress/examples/DragModalDialog/base/index.vue
  docs/vitepress/examples/DragModalDialog/drag/draggable.vue
  docs/vitepress/examples/DragModalDialog/events/event-handling.vue
  docs/vitepress/examples/DragModalDialog/penetrate/penetrate.vue
  docs/vitepress/examples/DragModalDialog/position/custom-position.vue
  docs/vitepress/examples/DragModalDialog/position/remember-position.vue
  docs/vitepress/examples/DragModalDialog/resize/resizable.vue
  docs/vitepress/examples/DragModalDialog/size/large.vue
  docs/vitepress/examples/DragModalDialog/size/medium.vue
  docs/vitepress/examples/DragModalDialog/size/small.vue
  docs/vitepress/examples/DragModalDialog/slots/footer-slot.vue
  docs/vitepress/examples/DragModalDialog/slots/header-slots.vue
  packages/components/DragModalDialog/index.ts
  packages/components/DragModalDialog/src/index.vue
  packages/components/package.json
  packages/components/version.json
  play/render/src/views/demo/index.vue
  play/render/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 补充文档
  docs/vitepress/components/base/Select.md
  docs/vitepress/examples/Select/props/clearable.vue
  docs/vitepress/examples/Select/props/collapseTags.vue
  docs/vitepress/examples/Select/props/disabled.vue
  docs/vitepress/examples/Select/props/disabledHandler.vue
  docs/vitepress/examples/Select/props/filterable.vue
  docs/vitepress/examples/Select/props/tagType.vue
  docs/vitepress/examples/Select/props/teleported.vue
  packages/components/Button/src/index.vue
  packages/components/Select/src/index.vue
  packages/components/Splitter/src/index.vue
  packages/components/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 补充文档
  docs/vitepress/examples/DragModalDialog/base/index.vue
  docs/vitepress/examples/DragModalDialog/drag/draggable.vue
  docs/vitepress/examples/DragModalDialog/events/event-handling.vue
  docs/vitepress/examples/DragModalDialog/penetrate/penetrate.vue
  docs/vitepress/examples/DragModalDialog/position/custom-position.vue
  docs/vitepress/examples/DragModalDialog/position/remember-position.vue
  docs/vitepress/examples/DragModalDialog/resize/resizable.vue
  docs/vitepress/examples/DragModalDialog/size/large.vue
  docs/vitepress/examples/DragModalDialog/size/medium.vue
  docs/vitepress/examples/DragModalDialog/size/small.vue
  docs/vitepress/examples/DragModalDialog/slots/footer-slot.vue
  docs/vitepress/examples/DragModalDialog/slots/header-slots.vue
  docs/vitepress/examples/Select/props/clearable.vue
  docs/vitepress/examples/Select/props/collapseTags.vue
  docs/vitepress/examples/Select/props/disabled.vue
  docs/vitepress/examples/Select/props/disabledHandler.vue
  docs/vitepress/examples/Select/props/filterable.vue
  docs/vitepress/examples/Select/props/tagType.vue
  docs/vitepress/examples/Select/props/teleported.vue
  packages/components/Button/src/index.vue
  packages/components/Select/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 补充文档
  docs/vitepress/.vitepress/theme/styles/custom.scss
  docs/vitepress/components/base/Button.md
  docs/vitepress/components/base/PopoverTableSelect.md
  docs/vitepress/examples/Button/content/basic.vue
  docs/vitepress/examples/Button/events/click.vue
  docs/vitepress/examples/Button/interaction/debounce.vue
  docs/vitepress/examples/Button/interaction/promise.vue
  docs/vitepress/examples/Button/interaction/throttle.vue
  docs/vitepress/examples/Button/popoverProps/placement.vue
  docs/vitepress/examples/Button/showType/content.vue
  docs/vitepress/examples/Button/showType/disabled.vue
  docs/vitepress/examples/EnterNextDragTable/base.vue
  docs/vitepress/examples/EnterNextDragTable/events/noNextInput.vue
  docs/vitepress/examples/EnterNextDragTable/events/noSelectValue.vue
  docs/vitepress/examples/EnterNextDragTable/props/containerType-row.vue
  docs/vitepress/examples/EnterNextDragTable/props/containerType-table.vue
  docs/vitepress/examples/PopoverTableSelect/props/options-promise.vue
  docs/vitepress/package.json
  packages/components/Button/src/index.vue
  packages/components/EnterNextDragTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

3770 DragModalDialog组件视图上传
  docs/vitepress/components/base/DragModalDialog.md
  docs/vitepress/examples/DragModalDialog/base/index.vue
  docs/vitepress/examples/DragModalDialog/drag/draggable.vue
  docs/vitepress/examples/DragModalDialog/events/event-handling.vue
  docs/vitepress/examples/DragModalDialog/penetrate/penetrate.vue
  docs/vitepress/examples/DragModalDialog/position/custom-position.vue
  docs/vitepress/examples/DragModalDialog/position/remember-position.vue
  docs/vitepress/examples/DragModalDialog/resize/resizable.vue
  docs/vitepress/examples/DragModalDialog/size/large.vue
  docs/vitepress/examples/DragModalDialog/size/medium.vue
  docs/vitepress/examples/DragModalDialog/size/small.vue
  docs/vitepress/examples/DragModalDialog/slots/footer-slot.vue
  docs/vitepress/examples/DragModalDialog/slots/header-slots.vue
  packages/components/DragModalDialog/src/index.vue
  packages/components/version.json
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 补充文档
  docs/vitepress/examples/DragModalDialog/base/index.vue
  docs/vitepress/examples/DragModalDialog/drag/draggable.vue
  docs/vitepress/examples/DragModalDialog/events/event-handling.vue
  docs/vitepress/examples/DragModalDialog/penetrate/penetrate.vue
  docs/vitepress/examples/DragModalDialog/position/custom-position.vue
  docs/vitepress/examples/DragModalDialog/position/remember-position.vue
  docs/vitepress/examples/DragModalDialog/resize/resizable.vue
  docs/vitepress/examples/DragModalDialog/size/large.vue
  docs/vitepress/examples/DragModalDialog/size/medium.vue
  docs/vitepress/examples/DragModalDialog/size/small.vue
  docs/vitepress/examples/DragModalDialog/slots/footer-slot.vue
  docs/vitepress/examples/DragModalDialog/slots/header-slots.vue
  docs/vitepress/guide/guide.md
  packages/components/DragModalDialog/src/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/index.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/AjaxPackage/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3770 DragModalDialog组件与文档优化
  docs/vitepress/components/base/DragModalDialog.md
  packages/components/DragModalDialog/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

删除废弃文档
  docs/storybook/.stories/DragModalDialog.stories.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 样式优化，避免warning
  packages/components/Editor/src/_utils/editor.ts
  packages/components/Editor/src/index.vue
  packages/element-plus/src/__builtins__/styles/common.scss
  packages/element-plus/src/__builtins__/styles/element-plus.scss
  packages/element-plus/src/array-base/style.scss
  packages/element-plus/src/array-cards/style.scss
  packages/element-plus/src/array-collapse/style.scss
  packages/element-plus/src/array-items/style.scss
  packages/element-plus/src/array-table/style.scss
  packages/element-plus/src/array-tabs/style.scss
  packages/element-plus/src/editable/style.scss
  packages/element-plus/src/form-collapse/style.scss
  packages/element-plus/src/form-drawer/style.scss
  packages/element-plus/src/form-grid/style.scss
  packages/element-plus/src/form-item/animation.scss
  packages/element-plus/src/form-item/grid.scss
  packages/element-plus/src/form-item/style.scss
  packages/element-plus/src/form-item/var.scss
  packages/element-plus/src/form-layout/style.scss
  packages/element-plus/src/form-tab/style.scss
  packages/element-plus/src/space/style.scss
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Editor
  packages/components/Editor/src/_utils/diffEditor.ts
  packages/components/Editor/src/_utils/editor.ts
  packages/components/Editor/src/_utils/editor/common.ts
  packages/components/Editor/src/_utils/editor/diffEditor.ts
  packages/components/Editor/src/_utils/editor/editor.ts
  packages/components/Editor/src/_utils/editor/index.ts
  packages/components/Editor/src/index.vue
  packages/utils/AjaxPackage/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Editor修改
  packages/components/Editor/src/Example.vue
  packages/components/Editor/src/_utils/editor/common.ts
  packages/components/Editor/src/_utils/editor/diffEditor.ts
  packages/components/Editor/src/_utils/editor/editor.ts
  packages/components/Editor/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3770 DragModalDialog组件功能优化
  packages/components/DragModalDialog/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3770 DragModalDialog添加关闭弹窗销毁内容功能
  docs/vitepress/components/base/DragModalDialog.md
  packages/components/DragModalDialog/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Editor修改
  packages/element-plus/.npmignore.tpl
  packages/element-plus/package.json
  pnpm-workspace.yaml
  tsconfig.base.json
Due: none

feat: 摒弃formily方案
  packages/components/_old/ConfigForm-formily/index.ts
  packages/components/_old/ConfigForm-formily/src/Example.vue
  packages/components/_old/ConfigForm-formily/src/index.vue
  packages/components/index.ts
  packages/utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 摒弃formily方案
  packages/components/index.ts
  packages/utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 3770 select组件添加下拉加载更多功能
  docs/vitepress/components/base/Select.md
  docs/vitepress/examples/Select/props/loadMore.vue
  packages/components/Select/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 3770 PopoverTableSelect、Select组件新增下拉加载更多功能
  docs/vitepress/components/base/PopoverTableSelect.md
  docs/vitepress/components/base/Select.md
  docs/vitepress/examples/PopoverTableSelect/events/loadMore.vue
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: configForm
  packages/components/ConfigForm-formily/index.ts
  packages/components/ConfigForm-formily/src/Example.vue
  packages/components/ConfigForm-formily/src/index.vue
  packages/components/ConfigFrom/README.md
  packages/components/ConfigFrom/index.ts
  packages/components/ConfigFrom/src/Example.vue
  packages/components/ConfigFrom/src/index.vue
  packages/components/ConfigFromPlayground/README.md
  packages/components/ConfigFromPlayground/index.ts
  packages/components/ConfigFromPlayground/src/Example.vue
  packages/components/ConfigFromPlayground/src/index.vue
  packages/components/README.md
  packages/components/index.ts
  packages/components/package.json
  play/render/src/assets/styles/tailwind.scss
  play/render/tailwind.config.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 补充类型
  packages/components/ConfigFrom/src/index.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/EnterNextDragTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix
