Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

.lintstagedrc.json:

{
  "!src/components/ConfigForm/**/*": [],
  "!src/components/DragTable/**/*": [],
  "*.{js,jsx,ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write *.{js,jsx,ts,tsx,vue}"
  ],
  "*.{css,scss,less,vue}": [
    "stylelint --fix"
  ]
}

feat: indexDb优化
  packages/utils/_utils/indexdb/IndexDBManager.ts
  packages/utils/_utils/indexdb/indexdb.ts
  packages/utils/_utils/indexdb/indexdbWorker.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 添加scoped样式插件
  docs/vitepress/.vitepress/config/vite/index.ts
  packages/components/ConfigForm/src/components/Rule/index.vue
  packages/components/_scripts/buildComponent.mts
  packages/utils/_utils/build/index.mts
  packages/utils/_utils/build/plugins/addUuidToTemplate/index.mts
  packages/utils/_utils/build/plugins/cssModuleGlobalRootPlugin/index.mts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: ViteConfig配置持续优化，文档采用自研viteConfig
  docs/vitepress/.vitepress/config/vite/index.ts
  docs/vitepress/.vitepress/theme/index.ts
  docs/vitepress/.vitepress/theme/styles/element/index.scss
  docs/vitepress/contants/index.ts
  docs/vitepress/contants/web.ts
  packages/components/DraggableTable/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
  packages/utils/ViteConfig/index.ts
  packages/utils/ViteConfig/src/_types/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/_utils/loadComponent/index.ts
  packages/utils/indexdb/IndexDBManager.ts
  packages/utils/indexdb/_types/index.ts
  packages/utils/indexdb/index.ts
  packages/utils/indexdb/indexdb.ts
  packages/utils/indexdb/indexdbWorker.ts
  play/render/src/main.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Element样式局部化进程之ElMenu
  packages/ElementPlus/ElMenu/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: VxeUI相关组件抽离
  packages/ElementPlus/ElMenu/src/styles/modules/index.module.scss
  packages/components/DraggableTable/src/index.vue
  packages/components/VxeGrid/src/grid/src/grid.ts
  packages/components/VxeGrid/src/styles/pc-ui/modules/all.module.scss
  packages/components/VxeGrid/src/table/module/custom/panel.ts
  packages/components/VxeGrid/src/table/module/export/export-panel.ts
  packages/components/VxeGrid/src/table/module/export/import-panel.ts
  packages/components/VxeGrid/src/table/src/table.ts
  packages/components/VxeGrid/src/toolbar/src/toolbar.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 大量项目文件处理，优化代码结构
  packages/ElementPlus/components.ts
  packages/ElementPlus/index.ts
  packages/components/FormDesign/src/styles/modules/index.module.scss
  packages/components/components.ts
  packages/components/index.ts
  packages/template/components.ts
  packages/template/index.ts
  packages/utils/AddUuidToTemplatePlugin/README.md
  packages/utils/AddUuidToTemplatePlugin/index.ts
  packages/utils/AutoRoutesPlugin/README.md
  packages/utils/AutoRoutesPlugin/index.ts
  packages/utils/AutoRoutesPlugin/routeGenerator.ts
  packages/utils/CssInjectedByJsPlugin/README.md
  packages/utils/CssInjectedByJsPlugin/index.ts
  packages/utils/CssInjectedByJsPlugin/interface.ts
  packages/utils/CssInjectedByJsPlugin/utils.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/index.ts
  packages/utils/utils.ts
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 读卡组件原始封装
  packages/components/CardReader/README.md
  packages/components/CardReader/index.ts
  packages/components/CardReader/src/Example.vue
  packages/components/CardReader/src/_types/emits.ts
  packages/components/CardReader/src/_types/index.ts
  packages/components/CardReader/src/_types/props.ts
  packages/components/CardReader/src/index.vue
  packages/components/components.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 第一版修改
  packages/utils/ViteBuild/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化ViteBuild,支持动态import，采用更成熟的import检测
  packages/utils/ViteBuild/index.ts
  packages/utils/ViteBuild/plugins/transformAliasPlugin/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化DragModalDialog
  packages/components/DragModalDialog/src/Example.vue
  packages/components/DragModalDialog/src/_types/props.ts
  packages/components/DragModalDialog/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化DragModalDialog,抽离公共逻辑
  packages/components/DragModalDialog/src/_types/emits.ts
  packages/components/DragModalDialog/src/index.vue
  packages/utils/_utils/_types/drag.ts
  packages/utils/_utils/drag.ts
  packages/utils/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 修改autoRoute,默认懒加载，修改AjaxPackage使它支持错误弹窗，并提供错误弹窗
  packages/components/CardReader/src/index.vue
  packages/components/DateRangePicker/src/Example.vue
  packages/components/SubMenu/src/_types/props.ts
  packages/components/SubMenu/src/index.vue
  packages/components/Tabs/src/index.vue
  packages/components/TsCheckbox/src/index.vue
  packages/components/TsRadio/src/index.vue
  packages/components/TsSelect/src/index.vue
  packages/components/TsTest/src/Example.vue
  packages/components/version.json
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/AjaxPackage/SystemErrorDialog.vue
  packages/utils/AjaxPackage/_types/api.ts
  packages/utils/AjaxPackage/_types/emits.ts
  packages/utils/AjaxPackage/_types/index.ts
  packages/utils/AjaxPackage/_utils/index.ts
  packages/utils/AjaxPackage/_utils/systemErrorInfo.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/AjaxPackage/styles/modules/index.module.scss
  packages/utils/ApiDialog/src/index.tsx
  packages/utils/AutoRoutesPlugin/_templates/dts.d.ts
  packages/utils/AutoRoutesPlugin/index.ts
  packages/utils/AutoRoutesPlugin/routeGenerator.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/ViteConfig/src/plugins/importComponents.ts
  packages/utils/_utils/virtual.ts
  packages/utils/package.json
  play/render/src/layout/element.vue
  play/render/src/views/demo/index.vue
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 读卡组件封装
  packages/components/CardReader/src/Example.vue
  packages/components/CardReader/src/_types/api.ts
  packages/components/CardReader/src/_types/index.ts
  packages/components/CardReader/src/_types/props.ts
  packages/components/CardReader/src/index.vue
  packages/components/TsSelect/src/_types/props.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 读卡组件封装
  packages/components/CardReader/src/_types/props.ts
  packages/components/CardReader/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 打包脚本修改，适配测试版本号
  packages/components/version.json
  packages/template/version.json
  packages/utils/ViteBuild/index.ts
  packages/utils/test-version.json
  packages/utils/version.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 打包脚本修改，适配测试版本号
  packages/components/version.json
  packages/utils/test-version.json
  packages/utils/version.json
Due: none

feat: DragModalDialog bug修复
  packages/components/DragModalDialog/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: VxeGrid bug修复
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/_types/props.ts
  packages/components/DraggableTable/src/index.vue
  packages/components/VxeGrid/src/components.ts
  packages/components/VxeGrid/src/grid/src/grid.ts
  packages/components/VxeGrid/src/table/module/custom/panel.ts
  packages/components/VxeGrid/src/table/src/table.ts
  packages/components/test-version.json
  packages/utils/_utils/loadComponent/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 打包依赖分析优化
  packages/components/DraggableTable/src/Example.vue
  packages/components/_scripts/buildComponent.mts
  packages/template/_scripts/buildComponent.mts
  packages/utils/ViteBuild/README.md
  packages/utils/ViteBuild/_types/index.ts
  packages/utils/ViteBuild/_utils/UploadComponent.ts
  packages/utils/ViteBuild/_utils/cli.ts
  packages/utils/ViteBuild/_utils/component.ts
  packages/utils/ViteBuild/_utils/config.ts
  packages/utils/ViteBuild/_utils/deps.ts
  packages/utils/ViteBuild/_utils/version.ts
  packages/utils/ViteBuild/_utils/viteConfig.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/_scripts/buildComponent.mts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: CardRender优化
  packages/components/CardReader/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 读卡器组件优化
  packages/components/CardReader/src/Example.vue
  packages/components/CardReader/src/_types/emits.ts
  packages/components/CardReader/src/_types/props.ts
  packages/components/CardReader/src/index.vue
  packages/components/Tabs/src/_types/props.ts
  packages/components/Tabs/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 打包优化，采用动态导入
  packages/utils/ViteBuild/_utils/component.ts
  packages/utils/ViteBuild/_utils/viteConfig.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/_utils/dynamicImport.ts
  packages/utils/_utils/index.ts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 全部替换为lodash-es
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/filter/FilterRenderer.vue
  packages/components/PopoverTableSelect/src/_types/props.ts
  packages/components/TsButton/src/_types/props.ts
  packages/components/TsTest/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/DesignForm/src/components/DesignFormRules.vue
  packages/components/_AllTestOrNoPublishComponents/DesignForm/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/_utils/index.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/_utils/useForm.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/_utils/useGridCols.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/_utils/useGridResponsive/index.ts
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/components/renderItem.vue
  packages/components/_AllTestOrNoPublishComponents/ReForm/src/index.vue
  packages/components/_hooks/useOptions.ts
  packages/components/_refactorComponents/ElButton/index.vue
  packages/components/package.json
  packages/template/package.json
  packages/utils/_utils/event.ts
  packages/utils/_utils/virtual.ts
  packages/utils/package.json
  play/render/package.json
  play/render/src/router/index.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 读卡器优化
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  package.json
  packages/components/CardReader/src/_types/api.ts
  packages/components/CardReader/src/_types/props.ts
  packages/components/CardReader/src/index.vue
  packages/utils/ViteBuild/_utils/component.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/version.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 错误弹窗优化
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/AjaxPackage/SystemErrorDialog.vue
  packages/utils/AjaxPackage/class.ts
  packages/utils/AjaxPackage/styles/modules/index.module.css
  packages/utils/ViteBuild/_utils/viteConfig.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/test-version.json
  play/render/src/views/demo/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 类型配置处理，使它能够正常识别，同时兼容vscode，idea
  commitlint.config.mjs
  commitlint.config.ts
  packages/components/CardReader/src/_types/index.ts
  packages/components/version.json
  packages/utils/AjaxPackage/_types/emits.ts
  packages/utils/AjaxPackage/_types/index.ts
  packages/utils/AjaxPackage/_utils/systemErrorInfo.ts
  packages/utils/_utils/loadComponent/index.ts
  packages/utils/version.json
  play/render/package.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 修改打包，使它仅解析当前模块的类型
  packages/utils/ViteBuild/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: vite-config类型修复
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
  packages/utils/ViteBuild/_utils/deps.ts
  packages/utils/ViteBuild/index.ts
  packages/utils/ViteConfig/src/_types/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/ViteConfig/src/plugins/importComponents.ts
  packages/utils/ViteConfig/src/plugins/vitePluginQiankunStyle.ts
  packages/utils/_types/index.ts
  packages/utils/package.json
  packages/utils/tsconfig.base.json
  packages/utils/tsconfig.node.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: eslint-config类型修复
  packages/utils/EslintConfig/src/_types/index.ts
  packages/utils/EslintConfig/src/index.ts
  play/render/src/layout/element.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: vite降版本
  packages/components/_scripts/buildComponent.mts
  packages/components/package.json
  packages/utils/ViteBuild/_utils/viteConfig.ts
  packages/utils/ViteBuild/index.ts
  play/render/src/utils/index.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: DraggableTable类型修复
  commitlint.config.ts
  packages/components/DraggableTable/src/_types/emit.ts
  packages/components/DraggableTable/src/_types/props.ts
  packages/components/DraggableTable/src/_utils/index.ts
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/cell/index.tsx
  packages/components/DraggableTable/src/renderers/edit/EditRenderer.vue
  packages/components/DraggableTable/src/renderers/edit/index.tsx
  packages/components/DraggableTable/src/renderers/filter/index.tsx
  packages/components/DraggableTable/src/renderers/index.ts
  packages/components/PopoverTableSelect/src/base/index.vue
  packages/components/package.json
  packages/utils/AjaxPackage/SystemErrorDialog.ts
  packages/utils/AjaxPackage/_types/index.ts
  packages/utils/AjaxPackage/_utils/index.ts
  packages/utils/AjaxPackage/class.ts
  packages/utils/AjaxPackage/index.ts
  packages/utils/AjaxPackage/netseriver.ts
  packages/utils/ApiDialog/index.ts
  packages/utils/_api/cache.ts
  packages/utils/_utils/date.ts
  packages/utils/_utils/index.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 类型修复
  packages/components/DraggableTable/src/index.vue
  packages/components/PopoverTableSelect/src/base/index.vue
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/TsCheckbox/src/index.vue
  packages/components/TsRadio/src/index.vue
  packages/components/TsSelect/src/index.vue
  packages/components/_hooks/useOptions.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix
