Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: tailwind修改
  package.json
  postcss.config.js
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

Revert "feat: tailwind修改"
  package.json
  postcss.config.js
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: tailwind修改
  package.json
Due: none

feat: tailwind修改
  src/assets/styles/tailwind.scss
Due: stylelint --fix

feat: keepAlive组件修改
  src/components/KeepAllAlive/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: keepAlive组件修改+popoverTableSelect
  .storybook/.stories/PopoverTableSelect.stories.tsx
  package.json
  src/components/PopoverTableSelect/Example.vue
  src/components/PopoverTableSelect/README.md
  src/components/PopoverTableSelect/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: add comment section
  .cursor/rules/.cursorrules
  .docs/.vitepress/config.ts
  .storybook/.stories/DragTable.stories.tsx
  .storybook/.stories/DraggableTable.stories.tsx
  .storybook/.stories/ExportExcel.stories.tsx
  commitlint.config.js
  eslint.config.ts
  package.json
  src/components/DragTable/Example.vue
  src/components/DraggableTable/Example.vue
  src/components/DraggableTable/README.md
  src/components/DraggableTable/index.vue
  src/typings/components.d.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 组件优化
  .storybook/.stories/PopoverTableSelect.stories.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化文件结构
  .lintstagedrc.json
  .prettierrc.json
  package.json
  plugins/addScopedAndReplacePrefix.ts
  postcss.config.js
  src/components/ConfigForm/index.vue
  src/components/excelTotal/ConfigTable.vue
  src/components/excelTotal/index.vue
  src/components/excelTotal/types.ts
  src/components/excelTotal/utils.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 添加组件
  src/api/README.md
  src/api/index.ts
  src/api/models/index.ts
  src/api/models/user.ts
  src/api/services/classDemo.ts
  src/api/services/index.ts
  src/api/services/requestDemo.ts
  src/api/utils/index.ts
  src/components/DateRangePicker/Example.vue
  src/components/DateRangePicker/README.md
  src/components/DateRangePicker/index.vue
  src/components/DraggableTable/index.vue
  src/components/PasswordVerify/README.md
  src/components/PasswordVerify/index.vue
  src/components/PopoverTableSelect/index.vue
  src/components/Select/index.vue
  src/components/Select/temp.vue
  src/components/Select/uitls/index.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 添加stories文件
  .storybook/.stories/DateRangePicker.stories.tsx
  .storybook/.stories/ExportExcel.stories.tsx
  .storybook/.stories/Select.stories.tsx
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

style: 优化布局
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: dragTable+popSelect+dateRange
  src/components/DateRangePicker/index.vue
  src/components/DraggableTable/Example.vue
  src/components/DraggableTable/index.vue
  src/components/DraggableTable/废弃方案/转换el-table(遇到无法接收默认插槽).vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: dragTable+popSelect+dateRange
  src/components/DateRangePicker/Example.vue
  src/components/DateRangePicker/index.vue
  src/components/DraggableTable/Example.vue
  src/components/DraggableTable/index.vue
  src/components/PopoverTableSelect/index.vue
  src/components/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化
  .env
  env.d.ts
  package.json
  plugins/addScopedAndReplacePrefix.ts
  src/components/index.ts
  src/components/subMenu.vue
  src/constants/index.ts
  src/layout/element.vue
  src/layout/index.ts
  src/main.ts
  src/router/index.ts
  src/router/layout.vue
  src/stores/iconfont.ts
  src/stores/index.ts
  src/stores/modules/system.ts
  src/typings/auto-imports.d.ts
  src/utils/index.ts
  src/views/demo/index.vue
  src/views/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化
  src/constants/index.ts
  src/utils/modules/modifyComponent.tsx
  src/utils/modules/route.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 测试cdn的线上可行性
  .env
  .husky/post-commit
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.ts
  package.json
  scripts/CICD.mjs
  scripts/build.mjs
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 测试cdn的线上可行性
  .gitignore
Due: none

feat: 测试cdn的线上可行性
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
  .docs/.vitepress/theme/index.ts
  .storybook/main.ts
  package.json
  src/constants/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 测试cdn的线上可行性
  package.json
Due: none

build: 优化
  src/constants/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

build: 优化
  tsconfig.node.json
Due: none

build: 优化
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件
  package.json
  src/components/DateRangePicker/index.vue
  src/components/DraggableTable/index.vue
  src/components/_utils/index.ts
  src/main.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件
  src/assets/styles/main.css
Due: stylelint --fix

feat: 优化组件
  src/components/DateRangePicker/index.vue
  src/components/DraggableTable/index.vue
  src/components/PopoverTableSelect/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件
  src/components/DateRangePicker/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件
  src/components/_utils/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化组件
  src/components/DraggableTable/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件
  package.json
  src/components/Icon/index.vue
  src/components/Select/Example.vue
  src/components/Select/index.vue
  src/components/Select/uitls/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 优化组件
  .docs/.vitepress/typings/auto-imports.d.ts
  .docs/.vitepress/typings/components.d.ts
  .gitignore
  .storybook/.stories/DateRangePicker.stories.tsx
  tsconfig.app.json
  tsconfig.node.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化ts
  tsconfig.docs.json
  tsconfig.json
  tsconfig.node.json
Due: none

feat: 优化ts
  tsconfig.app.json
  tsconfig.docs.json
  tsconfig.node.json
Due: none

feat: 优化ts
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/rss.ts
  .docs/.vitepress/utils/rss.ts
  tsconfig.node.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 优化ts
  .docs/.vitepress/config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
