Repository componentProject/vue-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: G2组件优化
  packages/components/G2/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 打包优化
  packages/utils/_utils/build/index.mts
Due: none

style: 修复样式无效
  packages/components/AIAgent/src/components/ui/FloatingPanel.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: classApi文档补充
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable兼容性处理
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: TsExpand组件封装
  docs/vitepress/components/base/TsExpand.md
  docs/vitepress/examples/TsExpand/base/basic.vue
  docs/vitepress/examples/TsExpand/base/non-text-content.vue
  docs/vitepress/examples/TsExpand/events/change.vue
  docs/vitepress/examples/TsExpand/events/expand-collapse.vue
  docs/vitepress/examples/TsExpand/props/class.vue
  docs/vitepress/examples/TsExpand/props/defaultExpanded.vue
  docs/vitepress/examples/TsExpand/props/expandText-collapseText.vue
  docs/vitepress/examples/TsExpand/props/lineHeight.vue
  docs/vitepress/examples/TsExpand/props/rows.vue
  docs/vitepress/examples/TsExpand/props/showToggle.vue
  docs/vitepress/examples/TsExpand/props/style.vue
  docs/vitepress/examples/TsExpand/props/togglePosition.vue
  docs/vitepress/examples/TsExpand/slots/toggle.vue
  packages/components/TsExpand/README.md
  packages/components/TsExpand/index.ts
  packages/components/TsExpand/src/Example.vue
  packages/components/TsExpand/src/_types/emits.ts
  packages/components/TsExpand/src/_types/index.ts
  packages/components/TsExpand/src/_types/props.ts
  packages/components/TsExpand/src/_types/slots.ts
  packages/components/TsExpand/src/index.vue
  packages/components/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: bugxiuf
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 提供G2文档
  docs/vitepress/components/base/G2.md
  docs/vitepress/examples/G2/expose/getChart.vue
  docs/vitepress/examples/G2/type/area-options.vue
  docs/vitepress/examples/G2/type/area-render.vue
  docs/vitepress/examples/G2/type/bar-options.vue
  docs/vitepress/examples/G2/type/bar-render.vue
  docs/vitepress/examples/G2/type/column-options.vue
  docs/vitepress/examples/G2/type/column-render.vue
  docs/vitepress/examples/G2/type/donut-options.vue
  docs/vitepress/examples/G2/type/donut-render.vue
  docs/vitepress/examples/G2/type/grouped-column-options.vue
  docs/vitepress/examples/G2/type/grouped-column-render.vue
  docs/vitepress/examples/G2/type/line-options.vue
  docs/vitepress/examples/G2/type/line-render.vue
  docs/vitepress/examples/G2/type/multi-line-options.vue
  docs/vitepress/examples/G2/type/multi-line-render.vue
  docs/vitepress/examples/G2/type/pie-options.vue
  docs/vitepress/examples/G2/type/pie-render.vue
  docs/vitepress/examples/G2/type/scatter-options.vue
  docs/vitepress/examples/G2/type/scatter-render.vue
  docs/vitepress/examples/G2/type/stacked-area-options.vue
  docs/vitepress/examples/G2/type/stacked-area-render.vue
  docs/vitepress/examples/G2/type/stacked-column-options.vue
  docs/vitepress/examples/G2/type/stacked-column-render.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 文档优化
  docs/vitepress/components/utils/classApi.md
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 文档优化
  packages/utils/_utils/build/index.mts
Due: none

feat: 文档优化
  packages/utils/AjaxPackage/README.md
Due: none

feat: 整体重构ViteConfig
  packages/utils/ViteConfig/src/_types/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/_utils/object.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 整体重构ViteConfig
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 整体重构ViteConfig
  packages/components/DraggableTable/src/index.vue
  play/render/src/utils/index.ts
  play/render/src/utils/modules/discoverComponents.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 整体重构ViteConfig
  packages/utils/ViteConfig/src/_types/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/package.json
  play/render/index.html
  play/render/package.json
  play/render/public/apple-touch-icon.png
  play/render/public/favicon.ico
  play/render/public/images/img.png
  play/render/public/mask-icon.svg
  play/render/public/pwa-192x192.png
  play/render/public/pwa-512x512.png
  play/render/public/screenshot-wide.png
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 整体重构ViteConfig
  .gitignore
  packages/utils/ViteConfig/src/_types/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/package.json
  play/render/package.json
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 整体重构ViteConfig
  packages/utils/ViteConfig/src/_types/index.ts
  packages/utils/ViteConfig/src/index.ts
  packages/utils/package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

feat: 样式打包优化
  docs/vitepress/.vitepress/config/vite/index.ts
  packages/components/DateRangePicker/src/index.vue
  packages/components/DragModalDialog/src/index.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/cell/CellRenderer.vue
  packages/components/DraggableTable/src/renderers/edit/EditRenderer.vue
  packages/components/DraggableTable/src/renderers/filter/FilterRenderer.vue
  packages/components/EnterNextContainer/src/index.vue
  packages/components/FormDesign/src/index.vue
  packages/components/G2/src/index.vue
  packages/components/HisFooter/src/index.vue
  packages/components/ImportExcel/src/index.vue
  packages/components/PopoverTableSelect/src/index.vue
  packages/components/Tabs/src/index.vue
  packages/components/Title/src/index.vue
  packages/components/Tree/src/index.vue
  packages/components/TsButton/src/index.vue
  packages/components/_AllTestOrNoPublishComponents/MarkdownEditor/src/index.vue
  packages/components/_old/ConfigTable/src/index.vue
  packages/components/_scripts/buildComponent.mts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 样式打包优化
  scripts/removeComments.mts
Due: none

feat: 虚拟模块+autoRoute同步优化，大幅度加快hmr速度，Draggable性能优化
  packages/components/DraggableTable/src/_types/props.ts
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/utils/ViteConfig/src/plugins/autoRoutes/routeGenerator.ts
  packages/utils/ViteConfig/src/plugins/utils/virtual.ts
  play/render/src/views/demo3/data/componentData/DraggableTable.tsx
  play/render/src/views/demo3/index.vue
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: 配置化表单设计器优化
  packages/components/FormDesign/index.ts
  packages/components/FormDesign/src/components/FormPreview.vue
  packages/components/FormDesign/src/index.vue
  packages/components/FormDesign/src/starfish-editor.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: VxeGrid优化，采用局部样式，弃用旧版uuidScoped
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/style.scss
  packages/components/DraggableTable/src/variable.scss
  packages/components/VxeGrid/src/grid/src/grid.ts
  packages/components/VxeGrid/src/styles/modules/all.module.scss
  packages/utils/_utils/build/index.mts
  packages/utils/_utils/build/plugins/addUuidToTemplate/index.mts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable恢复默认采用删除逻辑
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
  packages/utils/_api/cache.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: FormDesign错误处理
  packages/components/FormDesign/src/components/Workspace.vue
  packages/components/FormDesign/src/utils/_.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: FormDesign错误处理，表格重置功能
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/VxeGrid/src/grid/src/grid.ts
  packages/components/VxeGrid/src/table/src/column.ts
  packages/components/VxeGrid/src/table/src/group.ts
  packages/components/VxeGrid/src/table/src/table.ts
  packages/components/VxeGrid/src/toolbar/src/toolbar.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DragModalDialog样式处理
  packages/components/DragModalDialog/src/_types/props.ts
  packages/components/DragModalDialog/src/index.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: Vxe渲染器处理
  packages/components/DraggableTable/src/Example.vue
  packages/components/DraggableTable/src/index.vue
  packages/components/DraggableTable/src/renderers/cell/CellRenderer.vue
  packages/components/DraggableTable/src/renderers/edit/EditRenderer.vue
  packages/components/DraggableTable/src/renderers/filter/FilterRenderer.vue
  packages/components/VxeGrid/index.ts
  play/render/vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: cssModule样式处理
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/utils/_utils/build/index.mts
  packages/utils/_utils/build/plugins/cssModuleGlobalRootPlugin/index.mts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: DraggableTable配置优化，拖拽弹窗代码优化
  packages/components/DragModalDialog/src/index.vue
  packages/components/DraggableTable/src/components/CustomConfigDialog.vue
  packages/components/DraggableTable/src/index.vue
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}, stylelint --fix

feat: eslint 规则修改
  eslint.config.ts
  packages/utils/EslintConfig/src/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx,vue}

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write *.{js,jsx,ts,tsx,vue}: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,less,vue}
